[2014-10-03 15:18] necolas opened #1 "Refactor"
Code can be simpler using the postcss api. Move patterns into a separate internal config to enable support for other BEM variations.

[2014-10-03 15:19] necolas opened #2 "Support default BEM syntax"
Bake in support for default BEM syntax. Probably add a config option to pass in custom regexp's rather than trying to cater to all other flavours.

[2014-11-22 14:57] necolas opened #5 "Skip @keyframes rules"
Currently throws errors when you add a keyframe

[2014-11-22 15:23] #5 closed, assigned to nobody

[2015-01-20 15:39] davidtheclark opened #6 "Support for custom class convention regexes?"
Are you open to supporting user-defined regular expressions that define custom class naming conventions?

The name of the module would make less sense in that case (i.e. user's convention might not be BEM or BEMish) --- but it doesn't seem like it would be too hard to allow for the flexibility in this codebase.

*Or* do you think such an idea is fodder for a separate module?

(I would like to try

[2015-01-24 18:27] necolas commented on #6
Yes. See #1 and #2

[2015-01-24 18:27] #6 closed

[2015-01-24 20:27] davidtheclark opened #7 "jscs errors"
I just forked the repo, `npm install`ed and ran `npm test`. I hit the following jscs errors:

[code]

The version of jscs installed is 1.10.0.

Maybe the rules or enforcement have changed since you last installed? In any case, I didn't want to make the changes myself because I figure code style is up to you, @necolas. Not sure whether you want those braces to have spaces inside or not.

[2015-01-24 21:45] davidtheclark commented on #7
Sidenote --- I'm pretty positive this is why all the pull requests I'm filing are failing on Travis. I've been running `mocha` before submitting them; so the actual tests should be passing.

[2015-01-25 05:49] necolas commented on #7
Yeah it's annoying. This is a bug in jscs that they said they're fixing in 1.11 https://github.com/jscs-dev/node-jscs/issues/923

[2015-02-12 23:58] jedrichards opened #14 "Namespaced components produce a warning"
Hey guys

Love the work you're doing on this.

I discovered that components named as per the optional SuitCSS [namespace](https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md#namespace-optional) spec produce a warning in the output (if not an outright fail).

E.g. a component named `ns-ComponentName` produces the warning,

[code]

Is this by design? Or would you be open to PRs fix

[2015-02-13 18:31] necolas commented on #14
yeah sure

[2015-03-03 12:48] jedrichards commented on #14
I've tried a couple of times to sit down and do this, but keep on getting weird interactions between the various regex you have setup in different files and then giving up. Regex is admittedly not something I spend a lot of time wrangling with. Realistically I'm not going to get round to it, feel free to close or keep open if you think its important and someone else may get round to it. Sorry.

[2015-03-13 18:43] necolas commented on #1
Fixed by #13

[2015-03-13 18:43] #1 closed

[2015-03-13 18:43] necolas commented on #2
Fixed by #13

[2015-03-13 18:43] #2 closed

[2015-03-13 18:43] necolas commented on #7
Fixed

[2015-03-13 18:43] #7 closed

[2015-03-14 00:57] davidtheclark opened #16 "Handle pseudo-selectors"
Per https://github.com/necolas/postcss-bem-linter/pull/13#issuecomment-79236319 — e.g. `.Component:not(.is-open) { ... }`.

[2015-03-15 02:42] davidtheclark commented on #14
I have a branch ready to fix this problem but realized that it will have a few conflicts with pending PR https://github.com/necolas/postcss-bem-linter/pull/18/files — so once that one gets merged or rejected, I can get offer a solution to this issue.

[2015-03-15 22:28] davidtheclark opened #19 "Lint utility class stylesheets"
Patterns could include a `utilities` regexp; and the directive at the top of utility stylesheets could inform the linter what it's looking at — maybe `/** @define utilities */`?

That way you could enforce utility class conventions in addition to those for component classes.

[2015-03-17 17:05] #16 closed

[2015-03-18 20:01] davidtheclark commented on #14
The solution I was thinking about was to add a second parameter that is options, and `namespace` will be an option that the `'suit'` pattern pays attention to. This would change function signature, then, so you've got `bemLinter(pattern, options)`. That options object might include other stuff for other patterns. Does this seem like a good solution to you @necolas ? I can work on a PR for it tonig

[2015-03-20 03:42] davidtheclark opened #22 "Change `selector` to `componentSelector`"
If https://github.com/necolas/postcss-bem-linter/pull/21 is merged, the references throughout to `selector` often no longer apply generally to selectors, but instead apply specifically to *component* selectors (as opposed to utility selectors). So a little renaming ought to be done, probably.

[2015-03-20 03:43] davidtheclark opened #23 "Rename SUIT-specific test fixtures"
If SUIT is no longer the *only* pattern, the filenames for these fixtures are too generic.

[2015-03-20 03:50] davidtheclark opened #24 "Make strict mode default"
As discussed here: https://github.com/necolas/postcss-bem-linter/pull/13#issuecomment-77946016

Unless anybody objects, it probably makes sense to make strict mode the default, and instead have users manually turn on a loose mode.

Some possibilities:
[code]

[2015-03-20 18:27] necolas commented on #24
Perhaps more like FB flow:

[code]

[2015-03-20 18:29] #19 closed

[2015-03-20 18:33] necolas commented on #22
sgtm

[2015-03-20 20:59] davidtheclark commented on #24
Sounds good. I was stretching my brain to think of some kind of precedent -- Flow seems as good as any.

[2015-03-23 15:53] #14 closed

[2015-03-24 13:46] Kingdutch opened #26 "NPM Push for new error style"
Could you bump the version and do an npm publish? In 0.2.0, the old style of errors is used which causes file names to be omitted from error messages. The new style error messages can probably fix this. It's a commit made a few months ago so it would be awesome if we could use it

:hamster:

[2015-03-25 20:57] davidtheclark commented on #26
I'd be in favor of a new release after the current issues are resolved. I wonder if it would be a good time to bump major release: since with the recent changes there's an API, having a major release number would be we could more meaningfully indicate with semver when that API has changed.

[2015-03-26 18:19] #24 closed

[2015-03-26 18:21] necolas commented on #26
Before 1.0.0, the expectation is that minor version increases may break the API. I'd think I'd rather we stay at 0.x and iron out any kinks and instability before we're happy for 1.0.0. For example, going to 0.2 gives time for Twitter to use it for a few weeks and for any non-suit projects to try out the linter.

[2015-03-27 02:23] davidtheclark commented on #23
Closed by 96ae59ba1caef093792bba4d02d02e5ffe0f0373

[2015-03-27 02:23] #23 closed

[2015-03-27 02:36] davidtheclark commented on #26
Ok, sounds good.

[2015-03-27 12:50] Kingdutch commented on #26
A bump to 0.3.0 would probably fit within semver though right? More meaningful error messages seem something worth releasing :)

[2015-03-28 19:37] necolas commented on #26
Ah yes I meant 0.3.

[2015-03-29 16:54] jedrichards opened #28 "New lint failures from the proposed 0.3.0 code"
I just ran my project through the new linter based off the current state of the master branch before the proposed bump to 0.3.0 (as of 4cb6db8187c30ee1be5b4f04c6c1227ec27c427a) and I'm getting a few new lint failures that I wasn't getting with 0.2.0.

Specifically the following selectors are all producing new failures where they weren't before,

[code]

Are these selectors actually non-compliant a

[2015-03-29 17:05] davidtheclark commented on #28
The errors make sense to me, because those chained attribute selectors are not accounted for in the SUIT regular expression.

I believe that before the recent changes the regular expressions were not checking that the *whole* sequence matched the *whole* regexp. Instead, I think they were looking to see if the regexp had a match *anywhere within* the selector sequence. I switched it to the current

[2015-03-29 18:07] jedrichards commented on #28
Also getting new errors on these two selectors as well,

[code]

[2015-03-29 18:10] davidtheclark commented on #28
Again, I think the regexps are performing as expected. Those will probably work in 'loose mode', though. I think it's up to @necolas whether to allow that kind of stuff with the SUIT pattern.

[2015-03-29 21:08] Kingdutch commented on #26
:+1:

[2015-04-01 06:45] necolas commented on #28
we should support the chained attributes

this should be an error though, because it could impact every element in the sub-tree

[code]

[2015-04-02 20:12] davidtheclark opened #29 "Switch from JSCS to ESLint"
Per https://github.com/necolas/postcss-bem-linter/pull/27

I'm inclined to leave this one to you @necolas so you can enforce the code style you like.

[2015-04-02 20:12] davidtheclark commented on #22
Closed via https://github.com/necolas/postcss-bem-linter/issues/27

[2015-04-02 20:12] #22 closed

[2015-04-02 20:13] davidtheclark opened #30 "SUIT componentSelectors should allow for chained attributes"
Per https://github.com/necolas/postcss-bem-linter/issues/28

[2015-04-02 20:14] davidtheclark commented on #28
#30 is there for adding chained attributes to SUIT pattern, which will solve this problem.

[2015-04-02 20:30] davidtheclark opened #32 "Update to PostCSS 4.1"
It's nifty new messages API is well-suited to linting. If I understand correctly (still have to look into it more), we'd be able to accumulate all the errors and show them all at once to the user, instead of throwing one error at a time.

[2015-04-02 20:31] davidtheclark opened #33 "Update to PostCSS 4.1"
It's nifty new messages API is well-suited to linting. If I understand correctly (still have to look into it more), we'd be able to accumulate all the errors and show them all at once to the user, instead of throwing one error at a time.

[2015-04-02 20:31] davidtheclark commented on #33
Duplicate. Whoops.

[2015-04-02 20:31] #33 closed

[2015-04-02 20:46] davidtheclark opened #34 "Get build to pass"
I don't understand the latest failure. Again, it's related to JSCS: looks like it didn't install properly on Travis (?), but I can't guess why.

May be that this would be solved with a switch to ESLint: https://github.com/necolas/postcss-bem-linter/issues/29

[2015-04-03 04:50] MoOx commented on #32
That's exactly what I requested to @ai for stylelint and he loved the idea ;)

[2015-04-06 00:16] davidtheclark commented on #32
After the discussion following [this comment](https://github.com/postcss/postcss/issues/177#issuecomment-89584716), I'm thinking that maybe what this linter could do for now (at least until something like stylelint is ready with a standard "linter" interface) is this:

- The plugin itself registers linting errors as PostCSS "warnings". Runners that follow the [runner guidelines](https://github.com

[2015-04-06 00:18] ai commented on #32
BTW, you can add some PostCSS plugin, that will throw a error if `Result` contains warnings from linter.

[2015-04-06 00:20] davidtheclark commented on #32
Interesting idea @ai.

[2015-04-06 04:24] necolas commented on #32
Sounds good to me

[2015-04-06 04:51] MoOx commented on #32
I also plan to add the ability to lint files directly when `@import`ed (would save some fs call). Using this API would help to defer all messages at the same moment (ref https://github.com/cssnext/cssnext/issues/64)

[2015-04-14 20:42] timkelty opened #37 "Compatibility with postcss-nested"
I'm using https://github.com/postcss/postcss-nested

Rules like the following will fail:

[code]

Any chance for adding compatibility?

[2015-04-14 22:35] davidtheclark commented on #26
@necolas If the pending pull requests work out, I don't have any other particular changes in mind, so would be eager for a new release.

[2015-04-15 04:35] MoOx commented on #37
Why don't you just add you invalid css plugin before the linter ?
That might solve the problem.

[2015-04-15 04:57] timkelty commented on #37
Of course! Not sure why I didn't think of that.
Thanks @MoOx

[2015-04-15 04:57] #37 closed

[2015-04-15 15:02] joefiorini opened #38 "Should ignore files that have no nodes"
I have some less templates that get processed into CSS files but actually output nothing. This gets normalized away eventually when my build process concatenates the individual CSS templates. I have the bem linter processing each individual file, not the final concatenated output, which means sometimes it runs against empty files (eg. less templates that contain _only_ mixins and are not output).

[2015-04-15 15:03] joefiorini commented on #38
Note as a workaround I can put a comment in any affected less templates and it gets through the build; but this will be in my final output, so I'd prefer not to do that.

[2015-04-21 15:01] simonsmith commented on #38
I solved this in the build pipeline, with something like https://github.com/nahody/gulp-clip-empty-files

[2015-04-21 15:01] simonsmith opened #39 "Support namespaces"
Basically the same issue from rework-suit-conformance

https://github.com/suitcss/rework-suit-conformance/issues/7

[2015-04-21 15:14] davidtheclark commented on #39
I believe what you're looking for was added to master in https://github.com/necolas/postcss-bem-linter/pull/20, just hasn't been released yet.

[2015-04-21 15:46] simonsmith commented on #39
Ah fantastic. Will wait for this. Thanks

[2015-04-21 15:46] #39 closed

[2015-04-25 21:05] #32 closed

[2015-04-25 21:06] necolas commented on #30
Fixed by #35

[2015-04-25 21:06] #30 closed

[2015-04-25 21:06] necolas commented on #28
Fixed by #35

[2015-04-25 21:06] #28 closed

[2015-04-25 21:09] necolas commented on #26
let me test master out against our code base before i cut a new release.

[2015-04-25 21:15] jedrichards commented on #28
:+1: Thanks so much guys, looking forward to the new release.

[2015-04-27 21:25] necolas commented on #34
Sorry I'm not able to help out right now. Below is an eslint config we are using on a twitter project.

If there are loads of eslint errors, I'd be fine with disabling linting until someone has time / interest in resolving the errors. Don't want the linting to get in the way of doing things :)

[code]

[2015-04-27 21:27] davidtheclark commented on #34
If you'd like me to implement that ESLint config I'm happy to. Will get to it within the next couple of days I think.

[2015-04-27 23:47] necolas commented on #34
OK. I noticed the build is failing; I might have merged 2 "passing" branches too quickly, with the second failing once the first was merged.

[2015-04-28 02:00] davidtheclark commented on #34
Huh. Hopefully the latest PRs will fix it?

[2015-04-28 16:45] necolas commented on #29
fixed by #40

[2015-04-28 16:45] #29 closed

[2015-04-28 17:42] necolas commented on #34
Looks good now

[2015-04-28 17:42] #34 closed

[2015-04-28 17:52] necolas commented on #38
I believe this is fixed by cecd6fc046154dcb281bf2e290c691cd0e9e6c72

[2015-04-28 17:52] #38 closed

[2015-04-28 21:29] necolas opened #42 "Make postcss a peerDependency"
…rather than installing and using another version of postcss inside this plugin

[2015-04-28 21:33] necolas commented on #26
i dropped HEAD into our codebase and no errors were reported when i introduced them (so our build succeeds when it should).

[2015-04-29 10:28] vanesyan commented on #42
`peerDependencies` are being deprecated in the next major release of `npm`. See: npm/npm#6565

[2015-04-29 22:15] necolas commented on #42
auto-install is being deprecated

[2015-04-30 00:47] ai commented on #42
@necolas PostCSS plugin anyway need a PostCSS dependency for helpers and `postcss.plugin` builder.

[2015-04-30 00:48] ai commented on #42
Also @MoOx was agains `peerDependency` because npm team had a plans to remove it and ask to use in-app tests.

[2015-04-30 02:16] necolas commented on #42
Ugh. I just need to move to css-in-js :)

[2015-04-30 02:19] ai commented on #42
@necolas what do you mean? :)

[2015-04-30 03:12] MoOx commented on #42
He mean something like this https://github.com/petehunt/jsxstyle
Style as JS object (so no .css files anymore, so no need for postcss nor a linter).

@necolas since if postcss is declared as a dep and user will have it at their own level too, it won't be installed twice, so I guess you can just close this issue :)

[2015-04-30 03:15] ai commented on #42
I didn't understand for dependencies are relevant to css on js :-)

[2015-05-01 12:10] simonsmith commented on #26
A 0.3 release for the latest namespace stuff would be great

[2015-05-02 16:41] necolas commented on #26
sorry my comment suggested the opposite of what is happening. master doesn't report errors properly, which is why i haven't cut a new version

[2015-05-02 17:14] davidtheclark commented on #26
oh, huh ... errors are logging as PostCSS warnings (as discussed in #32 as #36), which means you'd need to be setup to see those (using [postcss-log-warnings](https://github.com/davidtheclark/postcss-log-warnings) or something). do you have that in place?

[2015-05-02 21:34] necolas commented on #26
the docs need to mention that, otherwise the plugin doesn't really do anything for you. so this plugin would be dependent on using 'postcss-log-warnings' too?

[2015-05-02 22:09] MoOx commented on #26
It depends on your workflow I guess. If you use webpack for example, you would prefer getting webpack warnings emitted. But yeah, your runner has to show you the messages.

[2015-05-02 23:32] davidtheclark commented on #26
I just added a sentence to Readme --- sorry I didn't know that it would just commit automatically without creating PR :)

Also, if it's really important *not* to rely on a runner or plugin to log the warnings, we could probably add an option to this plugin that will exit the process and print those warnings immediately.

[2015-05-03 02:48] necolas commented on #26
We currently want the build to fail when the CSS is not properly scoped, otherwise it will end up in master.

The postcss logger plugin worked, but since we're using webpack I end up with 2 sets of warnings – one from postcss, one from webpack. If I use `throwError:true`, it exits with `1` but you can't tell why. It's not obvious that all the warnings printed before are actually the source of the

[2015-05-03 07:09] MoOx commented on #26
@necolas that why the runner need to emit errors via webpack (eg for eslint: https://github.com/MoOx/eslint-loader#errors-and-warning). This will need to be an option added in postcss-loader

[2015-05-03 15:20] davidtheclark opened #44 "More clear failure mechanism"
Per discussion in #26

[2015-05-03 15:22] davidtheclark commented on #26
I opened #44 to address this.

[2015-05-03 15:26] davidtheclark commented on #44
@necolas I will try to clarify the error in postcss-log-warnings. That would address one of your concerns, but not the duplicated printing of the warnings. I don't know --- I guess that ultimately we'd want the postcss runners to either be capable of throwing errors themselves or have an option *not* to print warnings, because something like postcss-log-warnings will handle it?

(Any thoughts on t

[2015-05-03 16:36] davidtheclark commented on #44
@necolas Please try postcss-log-warnings version v0.1.3 (just released) and see if you think it's more clear. I just added a message before the process exits saying "PostCSS warnings were logged".

[2015-05-03 19:01] ai commented on #44
@davidtheclark I think `postcss-log-warnings` should clean `result.warnings()` if it already process all this warnings.

In this case we can do some magic like:

[code]

Here linter warnigns will be showed in log, but mixins warnings in page by postcss-messages.

[2015-05-03 20:28] davidtheclark commented on #44
This is a fantastic idea, I think. I'll implement it now.

[2015-05-03 21:30] davidtheclark commented on #44
This is done in postcss-log-warnings v0.2.0

[2015-05-06 18:25] necolas commented on #26
Another thing to discuss. `master` produces warnings for selectors like:

[code]

We have some code like that in a new app. I think that pattern probably _is_ something to avoid, because there are basically side-effects from including 2 modifiers together (should probably be a single modifier). Just wanted to check if there is any disagreement about that.

Thansk

[2015-05-06 19:17] davidtheclark commented on #26
Yeah, I agree that it would probably be better to use a single modifier.

[2015-05-08 16:07] davidtheclark commented on #26
@necolas Anything else you'd like to see done before a new release?

[2015-05-11 14:07] simonsmith opened #45 "Pseudo class on utility reports as an error"
Using this rule I get a failure message:

[code]
[code]

As far as I know pseudo classes on utilities are allowed, seen [here in suitcss-utils-link](https://github.com/suitcss/utils-link/blob/master/lib/link.css) for example

[2015-05-11 15:54] davidtheclark commented on #45
I'm curious if the problem you're having is with the latest release or with master?

I think I tried in the unreleased master code to solve that here: https://github.com/necolas/postcss-bem-linter/blob/master/lib/is-valid-selector.js#L77

[2015-05-11 15:58] simonsmith commented on #45
Hmm, I am using master. Not sure how old it is. Will update

[2015-05-11 15:59] davidtheclark commented on #45
OK. If it's still there after updating then it's a bug :)

[2015-05-11 16:05] simonsmith commented on #45
Still seeing it. Perhaps allow `:` in the second character class here? - https://github.com/necolas/postcss-bem-linter/blob/master/lib/preset-patterns.js#L11

[2015-05-11 16:32] davidtheclark commented on #45
Oh I see ... dumb mistake. The handling of pseudos is applying to component selectors but not utility selectors. I will fix quick.

[2015-05-12 13:18] simonsmith commented on #45
Thanks for the fix on this.

Any chance we can get this merged with a new tag? Would be good to not install `master` as a dependency.

[2015-05-12 22:50] davidtheclark commented on #45
Other than that bug, has master been working as expected for you?

[2015-05-13 00:01] simonsmith commented on #45
Yeah, using it on a couple projects at the moment. Main reason to use master right now is for the namespace support. All seems good.

[2015-05-15 15:19] #45 closed

[2015-05-15 15:20] davidtheclark commented on #45
Well, I just merged the PR into master. We'll see about a release cc/ @necolas

[2015-05-21 15:01] simonsmith opened #47 "Allow opting out on a per rule basis"
I think it would be useful to tell bemlint to skip a rule if needed:

[code]

For me the use case is when I need to add some Modernizr fallbacks to a component and have to end up opting out of linting entirely to allow it to work. Moving the rules into a separate file also feels wrong.

[2015-05-22 00:22] davidtheclark commented on #26
@necolas Any word on this?

[2015-05-23 17:46] necolas commented on #26
tried master on our codebase; looked good. published as 0.3.0. thanks for all the great contributions.

[2015-05-23 17:46] #26 closed

[2015-05-23 23:45] davidtheclark commented on #44
I guess any further discussion of this belongs in postcss-log-warnings.

[2015-05-23 23:45] #44 closed

[2015-06-02 17:52] jedmao opened #48 "Invalid component selector when importing blocks"
Using [postcss-import](https://github.com/postcss/postcss-import), which might be the root of the problem, I have a file that imports two blocks from separate CSS files like so:

[code]

Here are the contents of block1:

[code]

And here are the contents of block2:

[code]

These, of course, get merged into one file with the imports, which is throwing an "Invalid component selector" error. postcss

[2015-06-02 21:33] necolas commented on #48
run the linter before the importer

[2015-06-02 21:34] MoOx commented on #48
I will add a hook to postcss-import so it can be done on the fly https://github.com/postcss/postcss-import/issues/45

[2015-06-02 21:55] jedmao commented on #48
@necolas I can't run the linter before the importer because the files being imported are not in my src glob. They are external.

[2015-06-02 21:58] jedmao commented on #48
If it helps, this is my folder structure:
[code]
The `blocks` folder for the BEM blocks is not being built directly. Instead, the sheets like `global.css` and `page1.css` only have `@import` statements inside of them, which reference those blocks.

[2015-06-02 22:13] MoOx commented on #48
You can run another task to lint this. Anyway, it's not the responsibility of this plugin. You can make another task or you can wait for the issue on postcss-import.

[2015-06-02 22:25] jedmao commented on #48
Closing this issue in lieu of https://github.com/postcss/postcss-import/issues/45

[2015-06-02 22:25] #48 closed

[2015-06-03 17:59] necolas opened #49 "move to postcss org"
@ai would you be ok with this repo moving into the postcss org?

[2015-06-03 18:05] MoOx commented on #49
I am :)
Do you want to add new collaborators ?

[2015-06-03 18:08] ai commented on #49
Twitter's project in PostCSS officially :-). Sure

[2015-06-03 18:24] necolas commented on #49
ok done. feel free to add any collaborators you want

[2015-06-03 18:24] #49 closed

[2015-06-03 18:25] #42 closed

[2015-06-03 18:30] necolas commented on #49
and fwiw, i am not opposed to changes like making 'bem' the default rather than 'suit'. please consider this as a postcss community project now.

[2015-06-10 12:56] m-allanson opened #51 "README example doesn't work"
I couldn't get the [example code in the readme](https://github.com/postcss/postcss-bem-linter#testing-css-files) to output any warnings.

To me it looks like the `forEach` block should be written like this:

[code]
Is that correct?

I made a quick repo to test this out: https://github.com/m-allanson/postcss-bem-linter-demo

[2015-06-10 14:02] davidtheclark commented on #51
Your change is the addition of `.then()` at the end, right?

That would make sense --- I don't think that part of the readme was updated since postcss changed its API to use then.

@ai Do you want to have examples like this that are using straight PostCSS, or would you rather that the plugin examples use a runner, like `gulp-postcss`, which is more likely what users will be using?

[2015-06-10 14:28] m-allanson commented on #51
@davidtheclark Yep it's the addition of the `.then()`.

Regarding examples, personally I'm using the CLI so find CLI examples useful.  I understand I may be in the minority though :)

[2015-06-20 16:06] davidtheclark commented on #51
Fixed in d3f1cedf7ee606a0dfa5c88fbf44368e92902f72

[2015-06-20 16:06] #51 closed

[2015-06-20 16:07] davidtheclark commented on #47
@simonsmith Can you try master using the comment `/* postcss-bem-linter: ignore */` and see how it goes? If it works, we can close this and cut a new release, I think.

[2015-06-20 21:35] simonsmith commented on #47
Works perfectly here. Thanks for this!

[2015-06-20 22:07] davidtheclark commented on #47
Great!

[2015-06-20 22:10] davidtheclark commented on #47
@necolas What do you think about publishing a new release to add this feature? We'd have to add it to the changelog and docs first. When you transferred the repo to postcss org did you add any new npm owners or would you like to keep that in your court?

[2015-06-21 05:30] MoOx commented on #47
https://github.com/postcss/postcss-bem-linter/issues/49#issuecomment-108563651

I think @necolas is not using this module anymore (probably in favor of css-modules), so maybe you should take the lead for this module (and ask to be added as a collab on npm).

[2015-06-23 18:35] necolas commented on #47
I added ownership for David. Feel free to add anyone else needed. Some teams at Twitter will still want to use this; I'm moving towards CSS in JS but not really css-modules.

[2015-06-23 23:49] davidtheclark commented on #47
Thanks!

[2015-06-24 00:01] davidtheclark commented on #47
Released v0.4.0 with this feature.

[2015-06-24 00:01] #47 closed

[2015-06-24 00:29] simonsmith commented on #47
:+1:

[2015-06-24 15:26] xDae opened #53 ":question integration with grunt-postcss"
How bem-linter can be implemented in grunt-postcss ?

[2015-06-24 15:37] davidtheclark commented on #53
You should be able to follow [the instructions for grunt-postcss](https://github.com/nDmitry/grunt-postcss#usage) and use it just like any other plugin.

[2015-06-24 15:45] xDae commented on #53
I have added the plugins to the post-css task, but it doesn't output anything in console
[code]

[2015-06-24 15:48] davidtheclark commented on #53
Hm. If you create a little repo isolating the problem it will be easier to troubleshoot.

[2015-06-25 02:38] davidtheclark commented on #53
I just got output fine with the following config:

[code]

So I'm guessing something is wrong with your setup, rather than with this plugin.

[2015-06-30 04:10] #53 closed

[2015-07-16 21:43] VinSpee opened #55 "working with postcss-cli"
Is this configuration compatible with postcss-cli? It seems as though it's not. when doing:

[code]

I'm getting the error
[code]

I assume it's because of this's plugin's unusual configuration signature - any thoughts?

[2015-07-16 21:59] davidtheclark commented on #55
What's unusual about the signature? Is it that there are two arguments instead of just one object?

[2015-07-16 22:15] VinSpee commented on #55
yes, that's what I am referring to. What are your thoughts on it?

[2015-07-16 23:11] davidtheclark commented on #55
I guess I don't see a reason not to merge those two arguments into one big options object except that it would mean a breaking change. I haven't looked into `postcss-cli` yet --- I'll take a gander.

[2015-07-16 23:24] VinSpee commented on #55
Yeah that's my worry too. Seems like a waste to do a 2.0 when you're just
moving an argument. Then again, it might be worth it to follow
"convention"-ish? And versions are free.
On Thu, Jul 16, 2015 at 19:11 David Clark <notifications@github.com> wrote:

[2015-07-17 16:48] VinSpee commented on #55
looks like it's in the [postcss plugin guidelines](https://github.com/postcss/postcss/blob/master/docs/guidelines/plugin.md#14-create-plugin-by-postcssplugin)

[2015-07-17 23:07] davidtheclark commented on #55
We're using the plugin function here, so I don't think it's violating the guidelines.

I try to look into this and the CLI this weekend sometime.

[2015-07-30 02:56] davidtheclark commented on #55
Sorry I've been dilatory on the update, @VinSpee. Here's what I'm thinking: I want to make some other breaking changes to the API -- leaving the `:root` checking stuff to `stylelint`. But I wanted to wait until https://github.com/stylelint/stylelint/issues/133 is taken care of. I'd then work this breaking change into the same release. Seem good?

[2015-07-30 03:05] VinSpee commented on #55
Makes great sense - thanks
On Wed, Jul 29, 2015 at 22:56 David Clark <notifications@github.com> wrote:

[2015-08-01 02:19] davidtheclark opened #56 "Outsource :root-related checks to stylelint"
stylelint has rules in place to check the two things that this linter currently checks (only custom properties in `:root` rules; `:root` cannot be combined with other selectors). So I figure this plugin may as well focus on its unique contribution --- checking selectors against dynamic regular expressions that know about component names --- and outsource that other business.

This would be a break

[2015-08-01 07:00] jeddy3 commented on #56
Sgtm.

[2015-08-05 01:35] #56 closed

[2015-08-05 01:58] davidtheclark commented on #55
@VinSpee: I thought some more about this and left a comment in `postcss-cli`: https://github.com/code42day/postcss-cli/issues/21#issuecomment-127816623

I'm not very inclined to shape the API to accommodate the limitations of `postcss-cli`'s `--plugin.option` format. If we think of an arrangement that seems better for its own sake, though, sure.

[2015-08-05 02:06] davidtheclark commented on #55
What do you think of this possible accommodation?

[code]

[2015-08-05 02:06] davidtheclark commented on #55
Any @postcss/owners have opinions about this kind of function signature business and whether/how to accommodate `postcss-cli`?

[2015-08-05 02:23] davidtheclark commented on #55
Or another possibility: `bemLinter({ preset: 'suit', presetOptions: { namespace: 'twt' }})`

[2015-08-05 16:43] bjankord opened #57 "Ability to process 1 CSS file with multiple components/blocks."
In our app, we are currently compiling .less files into 1 .css file. We'd like to use postcss-bem-linter and define where a component begins and ends via comments in our .less and have postcss-bem-linter run on this one file.

postcss-bem-linter already has support for defining a component via `/** @define MyComponent */`
Is it possible to add the ability to comment that a component's CSS has ende

[2015-08-05 17:42] davidtheclark commented on #57
Seems like a decent feature request to me.

But it does add some complexity.

And, you could still lint your stylesheets as they currently are, if you
just add a linting step *before* the concatenation. Right? (That's how I'm
doing it.)

On Wed, Aug 5, 2015 at 9:43 AM, Brett Jankord <notifications@github.com>
wrote:

[2015-08-05 18:24] bjankord commented on #57
I can see how linting before concatenation would work. Our use of LESS might mean we need to compile our .less partials to individual CSS files. Lint those, then blow them away and then compile the LESS into 1 file.

[2015-08-05 18:53] davidtheclark commented on #57
Oh I see ... I missed the Less part.

Once the version of PostCSS with custom parsers comes out maybe this will
be solvable easily. If I get some time, though, I'll look into implementing
something like the `/* @end */` feature that would help this work for you.

On Wed, Aug 5, 2015 at 11:24 AM, Brett Jankord <notifications@github.com>
wrote:

[2015-08-06 04:35] davidtheclark commented on #55
Just released 0.5.0 allowing for that last idea: `bemLinter({ preset: 'suit', presetOptions: { namespace: 'twt' }})`

[2015-08-06 04:35] #55 closed

[2015-08-06 13:15] VinSpee commented on #55
👌🏼Thanks!

[2015-08-06 13:19] ben-eb commented on #55
@davidtheclark Late to the party but yeah, `0.5.0` lgtm. :+1:

[2015-08-06 13:56] davidtheclark opened #58 "Maybe coming up on 1.0.0?"
After pruning out the `:root`-selector checks (outsourcing them to stylelint), I think that this module is pretty focused: check selectors against regular expressions that are tailored by a special comment.

I don't see any bugs reported since May 11, so there's a good chance this means the intended functionality is working well for users.

Maybe that means we should have a 1.0.0 release.

My only

[2015-08-09 01:11] #57 closed

[2015-08-09 01:14] davidtheclark commented on #57
@bjankord See https://github.com/postcss/postcss-bem-linter#multiple-definitions, which applies to the just-released version 0.6.0

[2015-08-09 01:14] davidtheclark commented on #57
And let me know if it doesn't work for you!

[2015-08-09 19:25] jeddy3 commented on #58
Sgtm! This is a solid tool. Thanks for all your additions to the tool since you took over the reins of it. It's very much appreciated :) I've been using it to enforce the suitcss conventions for over a year now, and it's worked out great.

[2015-08-09 19:29] bjankord commented on #57
Yep, this works for our needs! Thank's for the quick addition.

[2015-08-24 04:51] jedmao opened #59 "Support PostCSS 5.x"
https://github.com/postcss/postcss/releases/tag/5.0.0

[2015-08-27 00:35] davidtheclark commented on #59
Done in v1.0.0

[2015-08-27 00:35] #59 closed

[2015-08-27 00:35] davidtheclark commented on #58
Breaking changes for PostCSS 5.0 was good enough reason to make the bump. 1.0.0 is out now, compatible with PostCSS 5.

[2015-08-27 00:35] #58 closed

[2015-08-27 12:47] jeddy3 commented on #58
Thanks for this! :)

[2015-08-28 09:24] Immuzov opened #60 "Doesn't work correct for me"
My gulp task:
[code]
My page.css (this file imported to main.css):
[code]

My main.css:
[code]
Other css file not contain @define directive.

Error:
[code]

compiled css:
[code]
Sorry for my bad english.

[2015-08-28 14:06] davidtheclark commented on #60
@Immuzov Can you try running postcss-bem-linter before postcss-import, and see what happens? Same thing?

[2015-08-29 10:51] Immuzov commented on #60
Before postcss-import – not work (no errors).
Compiled css:
[code]

After postcss-import (same errors):
[code]

[2015-08-29 15:07] davidtheclark commented on #60
When I tried the following CSS, the test passed:

[code]

That suggests to me that you have something else going on. Have you tried systematically eliminating plugins to see if the removal of any of them fixes the problem?

Otherwise, since the tests pass here, all I can think of is that you could post your exact files in a gist, and I could try the whole build process locally.

[2015-08-29 15:09] davidtheclark opened #61 "Use PostCSS 5 features to improve accuracy"
Maybe we can report the precise location of the erroneous selector, instead of just the beginning of the statement.

[2015-08-30 22:50] davidtheclark commented on #61
Done in a68fff7459a85141d1c826fe4d613c13c27e345e

[2015-08-30 22:50] #61 closed

[2015-08-30 22:50] davidtheclark opened #62 "Atom editor plugin"
That would be really nice.

[2015-09-10 03:09] davidtheclark commented on #60
Any input on this @Immuzov? If not, I may close this, since I can't reproduce your problem.

[2015-09-10 05:08] #60 closed

[2015-09-14 09:07] vincentorback opened #63 "Settings for ignoring specific selectors"
Would love an additional regex selector for ignoring classes like `html.no-flexbox` or `html.is-loaded` and other smaller state classes or _fixes_. Using `/* postcss-bem-linter: ignore */` works but it can get messy fast with to many. Also it would be nice to keep gulp-plugins out of the code.

Does this sound like something usable to y'all? :rocket:

[2015-09-14 09:08] tornqvist commented on #63
:+1:

[2015-09-14 14:09] davidtheclark commented on #63
That sounds reasonable to me. So as a peer to `componentSelectors` and `utilitySelectors` we'd have `ignoredSelectors`, right?

I don't understand that part; could you clarify?

[2015-09-14 14:42] vincentorback commented on #63
Yeah exactly that would be sweet! But specifying every single possible Modernizr class (or whatever it is) might be a bit of a hassle, so maybe more of a flexible regex pattern. So that you can specify to ignore `.has-` classes, or selectors beginning with `html` or whatever. Or do you think that might be too flexible and hard to setup?

--

By this I just mean that I think it’s nice to keep your

[2015-09-14 14:50] davidtheclark commented on #63
Ah, so you don't link the plugins-specific comments. I see.

I agree that `ignoredSelectors` should be a regex.

I'm open to a PR on this or will try to get around to it soon.

[2015-09-14 21:45] JosefJezek opened #64 "Support for CSS @apply Rule"
Could you add support for CSS `@apply` Rule?

- http://tabatkins.github.io/specs/css-apply-rule/
- https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-css-mixins
- https://github.com/StartPolymer/polymer-starter-kit-plus

[code]
-> `Invalid component selector ".Navigation --paper-menu-selected-item:" [postcss-bem-linter]`

[2015-09-16 18:31] jedmao opened #65 "TypeError: Cannot read property 'test' of undefined"
I'm using postcss-bem-linter in my webpack configuration and everything is working find, defining blocks and all, until I define utilities:

[code]

[code]

[2015-09-17 00:09] davidtheclark commented on #65
Can you please share your configuration?

[2015-09-17 01:39] jedmao commented on #65
[code]

The webpack config is:

[code]

[2015-09-17 02:17] davidtheclark commented on #65
Thanks. Looks like it's expecting you to have a utilitySelectors() function but you haven't defined one. Maybe I should provide a more meaningful error, like "You use @define utilities but haven't provided a convention for utility classes." Would that be a good solution?

[2015-09-17 03:22] jedmao commented on #65
That would be very helpful!

[2015-09-17 14:57] #65 closed

[2015-09-17 14:58] davidtheclark commented on #65
@jedmao : I'll put this out in a release real soon, once I've also handled #63.

[2015-09-17 15:32] jedmao commented on #65
:+1:

[2015-09-19 00:07] #63 closed

[2015-09-19 00:09] davidtheclark commented on #63
Released in 1.1.0: https://github.com/postcss/postcss-bem-linter#custom-patterns

[2015-09-19 00:09] davidtheclark commented on #65
Released in 1.1.0

[2015-09-19 00:11] davidtheclark commented on #64
You can add support for your own stylesheets by writing a custom `componentSelectors` pattern.

Or are you asking that the `suit` and `bem` presets allow for this kind of thing?

[2015-09-19 00:11] vincentorback commented on #63
Sweeet!

[2015-09-19 00:26] vincentorback commented on #62
Definitely! Maybe a plugin for the existing [linter-stylelint](https://github.com/AtomLinter/linter-stylelint) or maybe we would need a new plugin UI for Atom to make it as flexible for the options in this postcss-plugin.

[2015-10-02 22:22] samjewell opened #66 "Could the `ignoreSelectors` option take an array of regexes?"
I'm working on the web dashboard for GoCardless, with a fair amount of css:- 115 SUIT components

Admittedly I'm trying to add this BEM linting to an already mature codebase, but I'd like to use the `ignoreSelectors` option to ignore quite a few different bits of hairy CSS that have crept in over time into some of the examples, so as a result it would be more convenient if it took an array of rege

[2015-10-02 22:25] davidtheclark commented on #66
That makes sense. I'm away from computers for just over a week but can look into it when I get back.

[2015-10-02 22:28] samjewell commented on #66
Woah, thanks a lot David, that could be really cool. I think it's a great resource by the way!

[2015-10-06 22:06] simonsmith commented on #66
+1 this, the ignoreSelectors addition has been one of the most useful for me too.

[2015-10-13 00:23] #66 closed

[2015-10-13 00:25] davidtheclark commented on #66
Published in 1.2.0

[2015-10-15 15:42] simonsmith commented on #66
This works great, thanks @davidtheclark

[2015-10-16 15:04] davidtheclark commented on #64
@JosefJezek : I am going to close this unless you provide some more details about what you're requesting.

[2015-10-17 15:31] #64 closed

[2015-10-17 15:34] davidtheclark opened #68 "Generic bem-linter project could provide CLI and Node API"
In order to allow non-PostCSS users to lint their BEMs, we could create a bem-linter module that uses this one behind-the-scenes to provide standalone a CLI and API.

[2015-10-23 15:13] alibby251 opened #70 "Unable to get postcss-bem-linter to display any errors"
I've created a simple demo of some message boxes using plain HTML and CSS - the CSS used is this:
[code]
My issue is that I am  unable to get postcss-bem-linter to show any errors - I've tried dropping one of the hyphens out of the rule, such as:
[code]
...and one of the underscores as well, in a similar fashion. This is what I have in my gulpfile.js:
[code]
The only error I was able to get it to

[2015-10-23 15:27] davidtheclark commented on #70
I will try to look into it this weekend, but here are some places to start:

- The component name that you define should not start with a `.`: it's just the name of the component. The `.` will be expected at the beginning of class selectors without you having to specify that in your definition.
- There is no PostCSS version 6.0 release yet, so you must be using some other version?
- Have you tried

[2015-10-23 15:47] alibby251 commented on #70
Hi davidtheclark,

Thanks for responding - hopefully this helps:

1. I removed the . from before the component name in the class that I define at the top of the style sheet, so I have this: ```/* postcss-bem-linter: define dlgBox */``` (apologies - the classname in my original post was incorrect - it should be ```dlgBox```, and not ```content```!)
This gave me the following:
[code]
...putting the

[2015-10-25 23:43] davidtheclark commented on #70
@alibby251 I think is a configuration error that was eaten by gulp-postcss. When I run your CSS against your config `{ componentName: /[A-Z]+/ }`, I got the following error:

[code]

That makes sense: that's what you've done.

Did you want to extend the `suit` or `bem` config and just add your own `componentName` pattern? If so, you would do that like this:

[code]

If you want to write your own `

[2015-10-26 09:12] w0rm commented on #70
@davidtheclark gulp-postcss doesn't swallow errors.

I set up the project and ran the task, this was the output:

[code]

[2015-10-26 13:57] davidtheclark commented on #70
Thanks a lot, @w0rm : I suspected that gulp-postcss wouldn't do that. @alibby251 : Must be something else. Anyway, let me know if using a proper configuration object fixes your confusion.

[2015-10-26 19:13] alibby251 commented on #70
Thanks for this - I will work on it again this evening, to see if I can make any more progress.
At present, I'm trying out a few things for a project I'm working on - my aim was to force postcss-bem-linter to display errors deliberately (yes, I know, normally that wouldn't be the case, but there are valid reasons for doing so ;-)) - I will keep you posted with progress...

[2015-10-26 20:31] alibby251 commented on #70
I've had another look - I feel like I'm missing something, as I still can't get it to show any error, save for the invalid selector one from earlier!

My gulpfile.js file looks like this:
[code]
At present, the task appears to simply copy the file from the src folder to the dest folder - it doesn't seem to be running bemlinter, with or without a componentSelectors config object. I've tried changin

[2015-10-26 20:49] w0rm commented on #70
Are you using the most recent versions of the packages?

[2015-10-26 21:09] alibby251 commented on #70
AFAIK, yes - they were all installed from new; this is my package.json file:
[code]
I know there are a few packages in there - I've been trying a few things, chuckle! I've stripped the package.json file down to gulp-postcss, plumber, postcss-bem and postcss-bem-linter, just to see if there is anything that might conflict. This ran fine, but with no change to the output - it doesn't flag anything,

[2015-10-27 04:01] davidtheclark commented on #70
@alibby251: I simplified the setup and ran into no problems: everything works as expected.

Given this `test.css`:

[code]

And this `gulpfile.js`:

[code]

I got this console output:

[code]

[2015-10-27 04:02] davidtheclark commented on #70
@alibby251 : I think you should start over with your build process, keep it simple and make sure each step works before adding another step.

[2015-10-27 04:02] #70 closed

[2015-10-27 07:26] alibby251 commented on #70
Hi davidtheclark,Thanks for this - the trouble is though, I was already able to get this message!The issue was that when I change the selectors (such as removing one or more '_' out of the name), I got a response back to indicate that the code was OK, even though my understanding was that this should not be the case. If you remove a _ out of one or more of the selector names, what response do you

[2015-10-27 13:47] davidtheclark commented on #70
If I remove a `_` from `.dlgBox__alert`, I get all the same error messages but that one changed to this:

[code]

Again, expected behavior.

I guess I still don't understand the problem. That is why I suggest starting from a clean slate with the build process, adding one piece at a time, in order to better identify which part of the process is going wrong.

(Also ... I notice that you're using `__

[2015-10-27 18:30] jedmao opened #72 "Support attribute selectors"
Any interest in supporting [attribute selectors](https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors) out of the box? LIke `.foo__button[disabled]`?

[2015-10-27 18:32] davidtheclark commented on #72
It's done in SUIT (https://github.com/postcss/postcss-bem-linter/pull/35/files) --- but looks like you're using the BEM preset -- is that right? If so, yeah, we could alter the BEM regex just like we did the SUIT one.

[2015-10-27 18:50] jedmao commented on #72
I'm using BEM, yes, but not the preset. Still, I figured those who are using the preset might benefit the same. I just added this to my custom component selectors:

[code]

[2015-10-27 20:56] alibby251 commented on #70
Hi davidtheclark,

Mmm - it's getting fustrating: I still can't replicate what you're getting ;-)

The issue I have is that I can *only* get it to show this:
[code]
I've reduced my gulpfile.js file to what I believe the bare minimum should be:
[code]
- it's as if it is taking no notice of the bemLinter plugin at all. I've also reduced my package.json file down to the bare minimum too - gulp-report

[2015-10-27 21:05] davidtheclark commented on #70
I do not understand what you expect to happen that is not happening. Every single one of your selectors is being complained about, right? And that's what you want?

That is what it is doing in the output that you pasted above.

Here's what might help: Please post these 4 things:
1. The CSS file
2. The gulpfile
3. The actual output
4. The output that *you expect but are not getting*

[2015-10-27 21:21] alibby251 commented on #70
Hi,

Thanks for this - hopefully this will help:

CSS:
[code]
Gulp file:
[code]
The output:
[code]
I am expecting to see something like this:
[code]

[2015-10-27 21:23] davidtheclark commented on #70
Can you change the CSS file so that it has `/** postcss-bem-linter: define dlgBox */` --- no period in front of `dlgBox`. Then retry --- if it's the same just let me know.

[2015-10-27 21:35] alibby251 commented on #70
No problem - it's similar to what I've had before:

C:\wamp\www\postcss>gulp
[21:33:06] Using gulpfile C:\wamp\www\postcss\gulpfile.js
[21:33:06] Starting 'default'...
[21:33:07] gulp-postcss: style.css
postcss-bem-linter: C:\wamp\www\postcss\src\style.css:16:1: Invalid component se
lector ".dlgBox_alert.small span"
postcss-bem-linter: C:\wamp\www\postcss\src\style.css:21:1: Invalid component se
l

[2015-10-27 21:37] davidtheclark commented on #70
There's no question here: you should *not* have a `.` in front. So with a correct definition (no `.`), you are receiving errors for all the selectors. How does that differ from what you *want* to see?

[2015-10-27 22:02] alibby251 commented on #70
Thank you though for being so patient - I'm sure I must be driving you up the wall ;-)

OK - so in theory, that means that every single selector I have in my example is incorrect, right? I was only expecting to see issues for 3 rules (due to the missing '_' in each name), not all of them...

I had another look at my CSS (I honestly think I'm really losing the plot, chuckle!) - I don't think I had

[2015-10-27 22:04] davidtheclark commented on #70
@alibby251 : Sounds like you had to change your CSS file --- what is it now?

[2015-10-27 22:20] alibby251 commented on #70
This is what it is now:
[code]

[2015-10-27 22:21] davidtheclark commented on #70
Ok. And please repost what the *real* output is, and what the *expected* output is --- because those will have changed based on these new selectors. I will then try to reproduce when I get home tonight.

[2015-10-27 22:43] alibby251 commented on #70
No problem - here's the *real* output:
[code]
...and the *expected* output would be to only show these errors:
[code]
...ideally with the yellow triangle / formatting as per one of your previous posts.

Thanks for taking a look at it - anything you can do to set me straight would be appreciated!

[2015-10-27 23:51] davidtheclark commented on #70
OK ... here it is: you're not using the standard BEM syntax that the plugin is checking for: https://en.bem.info/tools/bem/bem-naming/. There's no `--` in standard BEM, just a lot of underscores.

You can write your own pattern to match your needs. Also, if there's some rigorous documentation around the standard that you want to use, you could open a new issue to add that as a new preset.

Also if

[2015-10-28 21:33] alibby251 commented on #70
Hi davidtheclark,
Many thanks for your help - I think we are finally getting somewhere! ;-)

I've changed the --'s to appropriate underscores - it is now producing results as I expect to see them. I suspect the cause of the problem is that I've also been looking at how BEM is implemented when using something like SASS, and that this has confused matters. I still want to see if I can improve on the

[2015-10-28 22:00] davidtheclark commented on #70
Did you use the `clearMessages` option in postcss-reporter? That should
mean that you get the nice formatting from postcss-reporter without the
more raw version from gulp-postcss.

On Wed, Oct 28, 2015 at 2:33 PM, alibby251 <notifications@github.com> wrote:

[2015-10-28 22:10] alibby251 commented on #70
Hi,
I used the gulpfile example you posted back in your last message
(thankyou for that tip!) - unfortunately it was showing both the nice
formatting and raw data:
[code]
Did I miss something, or is there something else I need to install to
not show the raw data? It's nice to know about it being there, but it
would be great if it wasn't displayed.

On 28/10/2015 22:00, David Clark wrote:

[2015-10-29 03:03] davidtheclark commented on #70
I'm sorry, I just had a typo: `clearMessage` should be `clearMessages` (plural). That should do it for you.

[2015-10-29 18:02] alibby251 commented on #70
No problem - thanks for the update! I will try it out and let you know
what happens... ;-)

On 29/10/2015 03:03, David Clark wrote:

[2015-10-29 19:43] alibby251 commented on #70
Happy to report that the change fixed it - the output displayed is perfect:
[code]
Thanks for your help in getting things sorted!

[2015-10-31 23:05] davidtheclark commented on #68
The new goal is to avoid needing to do this by building a stylelint plugin, so users can have CLI or Node API access via stylelint: https://github.com/davidtheclark/stylelint-selector-bem-pattern

[2015-10-31 23:05] #68 closed

[2015-10-31 23:05] davidtheclark commented on #62
The new goal is to avoid needing to do this by building a stylelint plugin, so users can get their Atom inline linting via linter-stylelint: https://github.com/davidtheclark/stylelint-selector-bem-pattern

[2015-10-31 23:05] #62 closed

[2015-11-15 09:49] marienvo opened #73 ":nth-child(3n+1) marked as "Invalid component selector" (BEM)"
This selector does not seem to be valid:
[code]

While this one does:
[code]

I think they should be validated the same. I'm getting this error:
**`Invalid component selector ".home__services-item:nth-child(3n+1)" [postcss-bem-linter]`**

[2015-11-15 15:28] davidtheclark commented on #73
Nice catch ... I believe I see the bug. Will fix sometime today.

[2015-11-15 15:33] #73 closed

[2015-11-15 15:35] #72 closed

[2015-11-15 16:58] davidtheclark commented on #73
Fix released in 2.2.0.

[2015-11-15 16:59] davidtheclark commented on #72
Released in 2.2.0.

[2015-11-24 13:35] jgautheron opened #74 "Cannot ignore custom property name"
Custom component selectors can be ignored but custom property names **cannot**.

Quick example:

[code]

`11:3	⚠  Invalid custom property name "--paper-menu-background-color": a component's custom properties must start with the component name [postcss-bem-linter]`

The first is properly ignored, the second is not.
Is there any other way to ignore custom property names?

[2015-11-24 13:40] davidtheclark commented on #74
No, there is no way to ignore a custom-property --- that's an oversight. Let's see if I can fix it now before breakfast ...

[2015-11-24 13:43] jgautheron commented on #74
If you could make it work with `ignoreSelectors` that would be awesome, then I could simply use:
`ignoreSelectors: /^\-\-paper\-/` :dart:

[2015-11-24 14:10] #74 closed

[2015-11-24 14:12] davidtheclark commented on #74
@jgautheron Please try the master branch and verify that it works. Should handle `postcss-bem-linter: ignore` above the declaration and an `ignoreCustomProperties` regexp. If master works for you, we'll release it.

[2015-11-24 15:16] jgautheron commented on #74
It works fine, with both the inline ignore, and the `ignoreCustomProperties`. Thanks!

[2015-11-24 15:19] davidtheclark commented on #74
@jgautheron Excellent. Will publish a new release in a second here.

[2015-11-24 15:20] davidtheclark commented on #74
2.3.0

[2015-11-24 15:22] jgautheron commented on #74
:+1:

[2015-11-27 23:13] simonsmith commented on #56
Hey, with regard to the removal of:

    The `:root` cannot be combined with other selectors.

Does such a rule for stylelint exist? Wanted to check before I look into adding it.

Also thinking about validating the custom property after the componentName to ensure it is camel case, as per this issue - https://github.com/suitcss/suit/issues/91

It would cross over closely with the validation alread

[2015-11-28 14:16] davidtheclark commented on #56
selector-root-no-composition --- https://github.com/stylelint/stylelint/tree/master/src/rules/selector-root-no-composition

If camelcase custom property names is a SUIT convention that you want to enforce, I'd say we should build it into this module as part of the SUIT preset. We would also want to add a new option so the user could specify a patternf ro custom property validation.

[2015-11-28 14:46] simonsmith commented on #56
Great, thanks

Still need to update the SUIT components and documentation. Will open an issue nearer the time.

[2016-01-05 11:04] KingScooty opened #75 "[BEM] CSS animations - Invalid component selector"
The BEM linter preset doesn't seem to like css animation statements. Do i have to escape that part of the file or move it to a separate file that isn't linted?

The following animation rule is in a file with this definition: `/** @define gs-o-live-status */`

[code]

This is the error i get:

[code]

Also how do i make nested rules acceptable using the BEM preset? (see below)

[code]

[2016-01-05 14:13] davidtheclark commented on #75
Huh, I'm surprised this hasn't come up before.

Yeah, a temporary solution to this is to move the keyframes statement outside the defined area. But it would not be difficult to make the linter ignore keyframes. Just a matter of checking whether declaration nodes are a child of a keyframes at-rule.

PRs welcome, or I'll try to get around to it sometime soonish.

[2016-01-06 11:56] KingScooty opened #76 "Quick way to override preset settings for block and modifiers?"
I tend to use a modified version of BEM, where the `modifier` is defined with `--` rather than `_`.
What's the easiest way for me to add this change to my config?

I'm using PostCSS, and the stylelint plugin, so i'd need to override it via a settings object, but i'm finding the docs a little overwhelming when using a config object like below:

[code]

[2016-01-06 13:37] davidtheclark commented on #76
Use the preset and then define your own `componentSelectors` pattern: https://github.com/postcss/postcss-bem-linter#componentselectors

[2016-01-06 13:37] #76 closed

[2016-01-06 13:40] KingScooty commented on #76
@davidtheclark Any hints as to what the regex would be for this scenario? :)

[2016-01-06 13:41] davidtheclark commented on #76
I'd suggest using the source code of the presets as a starting point, and then using http://www.regexr.com/ to refine your regexp to just what you want.

[2016-01-06 13:41] davidtheclark commented on #76
If you can't figure that out, asking Stack Overflow for help with a regular expression will probably be fruitful.

[2016-01-06 14:24] KingScooty commented on #76
Ah, it didn't occur to me that i could pass a function to `componentSelectors`! Completely overlooked that. I was trying with regex from the sample examples for `initial` and `combined`.

For anyone that comes across this thread:

[code]

[2016-01-06 14:24] davidtheclark commented on #76
:+1:

[2016-01-06 14:39] KingScooty opened #77 "Compatibility SASS nested rules?"
I'm currently doing a spike to see how well this plugin fits in with our current development pipeline. I've currently got it running with PostCSS, Stylelint, and PostCSS-SCSS (to allow PostCSS to work with SASS files).

This plugin is working pretty nicely with SASS formatted CSS, but there are a few quirks. Ideally, i'd like to lint these files without having to compile/process them into raw CSS.

[2016-01-06 14:49] davidtheclark commented on #77
Couldn't you adjust your regex to accommodate `&` symbols?

[2016-01-06 14:51] davidtheclark commented on #77
It does seem weird to me, though, that you are nesting in that way. It would make sense to me nesting state classes; but aren't you right now combining two modifiers? `.gs-c-item-status--live.gs-c-item-status--on-dark` I think you would have cleaner selector specificity if you created a single modifier class that does what you need in that situation.

[2016-01-06 15:01] KingScooty commented on #77
Hmm, in some situations that would work, but there are so many scenarios and states that need to be accounted for in this codebase, that we actually use the increased specificity to enforce the rule in certain situations like the one above where another modifier may clash.

[2016-01-06 15:36] KingScooty commented on #77
The following seems to be doing the job :+1:

[code]

[2016-01-09 02:38] Garbee opened #78 "Failing for no clear reason."
I'm trying to get the tool setup for a project. However, I keep having complete failure where I don't seem to be causing it.

I've created a [minimal repository](https://github.com/Garbee/postcss-bem-failure-test) to focus down on the problem. It only takes the output CSS and runs it directly through the linter.

1. `bem` preset is defined.
2. `mdl` is configured as prefix.
3. `/* postcss-bem-lint

[2016-01-09 03:35] Garbee commented on #78
I think I just figured out the main problem I've been having.

1) The config in the minimal repo is incorrect. I rushed it together trying to just remember from memory. Using the inlined config below it works in that respect.

[code]

2. postcss seems to be doing some funky stuff having the linter at the end of a long compilation chain.

What I did to get things working is I now have postcss calle

[2016-01-09 03:35] #78 closed

[2016-01-12 00:12] davidtheclark commented on #78
This all depends on the plugins you use ... but yes, I absolutely agree that the ideal way to run the linting is on the unprocessed original files.

[2016-02-09 17:16] VinSpee opened #79 "namespaced custom properties"
I'd love to be able to namespace custom properties, ala:

[code]

Is there any way that I'm missing to do this currently?

[2016-02-09 17:17] davidtheclark commented on #75
I apologize for forgetting about this issue. I will fix it very soon.

[2016-02-09 17:25] davidtheclark commented on #79
I agree that whatever namespace is set should apply to custom properties.

@simonsmith, do confirm that SUIT CSS would like that?

[2016-02-09 17:33] simonsmith commented on #79
We don't currently have any formal guidelines for custom properties, although there is a long [outstanding issue](https://github.com/suitcss/suit/issues/91) to get it all written up. I think it makes sense to allow components to have namespaced custom properties, and we can include that in the documentation when I get round to doing it.

cc @timkelty @giuseppeg

[2016-02-09 18:12] giuseppeg commented on #79
Yeah I don't see why we shouldn't allow something like that.

[2016-02-09 19:01] timkelty commented on #79
Sounds good to me as well.

[2016-02-10 03:55] davidtheclark commented on #75
@KingScooty:

Use weak mode: https://github.com/postcss/postcss-bem-linter#conformance-tests

As of 2.3.1 I've verified that `@keyframes` selectors are ignored by this plugin.

Let me know if something still doesn't work as expected.

[2016-02-10 03:55] #75 closed

[2016-02-10 03:56] davidtheclark commented on #79
Is the idea here to *allow* it, or to *enforce* it? That is, if you have defined the namespace `ns` for your stylesheets, should we *enforce* that every custom property in a linted stylesheet has an `ns` prefix? Or should we add this as an option?

[2016-02-10 04:43] VinSpee commented on #79
maybe optional for now, forced in the next major release?

[2016-02-10 05:40] giuseppeg commented on #79
If it is *enforced* you won't have any choice but to release a major version.
<blockquote>maybe optional for now, forced in the next major release?</blockquote>
+1

In this iteration we should just add support for namespaces and make it fail if the component part is missing otherwise things like `--ns-fooBar` would be valid – but I guess that this was obvious.

[2016-02-10 10:58] simonsmith commented on #79
Nothing wrong with releasing major versions.

I'd vote that if you have a namespace option set then it should apply to the custom property too.

[2016-02-10 17:24] giuseppeg commented on #79
I don't know what is their release cycle like, often times people prefer to have a milestone and include more than one branch before making a major release.

I don't have any problem with that anyway!

[2016-02-10 17:32] VinSpee commented on #79
Yes, that was my meaning as well

[2016-02-14 17:26] dikmax opened #80 "TypeError: Cannot read property 'start' of undefined"
Linter crashes on start with following exception:

[code]

I've tried with both gulp and postcss-cli.

postcss@5.0.16

[2016-02-14 17:39] davidtheclark commented on #80
Can you please provide more information about your build?

The line throwing this error is `var ruleStartLine = rule.source.start.line;`. So for some reason your code is not getting a `source` ascribed to it. That makes me wonder if there's something wrong if you PostCSS configuration. Maybe?

[2016-02-14 17:47] dikmax commented on #80
I'm trying build with postcss-cli with this config (postcss.json):

[code]

Without "postcss-bem-linter" line it works pretty fine.

[2016-02-14 23:02] davidtheclark commented on #80
@dikmax: I will write a fix so the plugin doesn't throw an error when nodes do not have sources.

You should be aware, though, that this means on of the plugins you're using is probably creating nodes without source attributes and therefore positions in sourcemaps, error reports, etc., on those nodes won't be wholly accurate. If you feel like investigating which plugin is doing it, I'm sure the au

[2016-02-14 23:04] #80 closed

[2016-02-14 23:22] davidtheclark commented on #79
Cool, thanks for piping up. Open to a PR to speed things along.

[2016-02-14 23:23] davidtheclark commented on #80
Published fix in 2.3.2

[2016-02-14 23:30] davidtheclark commented on #80
I just realized that solution is flawed. We really need to ignore any nodes that do not have sources, because without the source positions we can't determine whether the node is supposed to fit a certain "component" or not. I will adjust a publish a new version ...

[2016-02-14 23:35] davidtheclark commented on #80
Ok. In 2.3.3 any nodes that lack source properties should be ignored.

@dikmax Please let me know how this works for you when you have a chance to try it out.

[2016-02-15 08:49] dikmax commented on #80
Thanks for help.

It doesn't crash now. But doesn't show any lint error either, probably because lot of code is ignored.

That is actually strange. For testing purposes I left only postcss-bem-linter and reporter plugins. It shows no errors on following file:

[code]

I run it using

[code]

config:

[code]

[2016-02-15 14:55] davidtheclark commented on #80
@dikmax Can you try with a different PostCSS runner (not postcss-cli)? If it works with another runner, we'd know the problem was with postcss-cli.

[2016-02-15 15:46] dikmax commented on #80
I've tried with gulp, same thing.

gulpfile.js:

[code]

Look like it's problem with bem-linter itself.

[2016-02-15 15:50] dikmax commented on #80
I've tried to replace linter with some other tool that shows warnings, colorguard. And it shows warnings as expected on same configuration.

[2016-02-15 15:55] davidtheclark commented on #80
You say you tested on the following file:

[code]

That file in fact should *not* log any warnings because it does not have a component definition at the top.

I just verified that the following *does* work as expected:

[code]

[2016-02-17 19:55] VinSpee commented on #79
I'm happy to give it a whirl. @davidtheclark I noticed that the only place we're checking for namespace now is in the component checker, which brings a different context than the custom property checker. How can I appropriately pass the namespace into the custom property checker? Any "correct" way that I'm missing?

[2016-02-18 01:31] davidtheclark commented on #79
@simonsmith , @giuseppeg , @timkelty : Should namespaces also be applied to utility classes? I'd expect so, myself, but that's not what's going right now. Unless there's an objection, I'd think we should take this advantage to use the namespace everywhere (component classes, utility classes, custom properties).

[2016-02-18 01:32] davidtheclark commented on #79
@VinSpee : The decision whether to apply the same treatment to utility classes will affect what I'd consider the "correct" approach here.

[2016-02-18 01:36] VinSpee commented on #79
I would agree that they should apply to utility classes as well

[2016-02-18 02:03] giuseppeg commented on #79
In my opinion there is no need to add namespace support to utility classes for three reasons:
* `u-` is already a namespace
* you can already add levels to the namespace, e.g. suicss/utils-size uses the `u-sm-` to namespace the size utilities for small devices
* utility classes are single purpose and *final* i.e. they use `!important` and can't (shouldn't) be overridden. So for example I don't see

[2016-02-18 02:21] VinSpee commented on #79
Example: I have a spacing utility as a part of my base framework. It takes variables. I currently would like to have it as

`.blank-u-mgBsm`

It would also contain variables as
`--blank-sm`

Do ou think this would be better served as a component in this instance? How would that look?

[2016-02-18 07:34] giuseppeg commented on #79
@VinSpee because of the single purpose nature of utilities you won't (or shouldn't) ever have duplicates.
This means that you can define `.u-mgBsm` and a generic variable `--u-mgBsm`

[code]
 and then in your theme/framework override the variable
[code]

[2016-02-18 13:13] davidtheclark commented on #79
@giuseppeg , @VinSpee : What about utilities with more generic names that could be implemented in different ways? Let's say I import a library that has a `u-clearfix` class, but I don't like the implementation so want to create my own, `nm-u-clearfix`?

[2016-02-18 19:04] simonsmith commented on #79
I'd be inclined to agree with @giuseppeg in that a utility should generally be unrelated to components. Configuring them with custom properties is rare, but a valid route to go down if they need it.

@davidtheclark That feels quite edge case. Utilities tend to have a very specific purpose and are often only a few declarations if that. I couldn't imagine there would be a radically different `u-cf`

[2016-02-18 19:08] davidtheclark commented on #79
Ok, well I'm fine with just namespacing custom properties.

[2016-02-18 19:16] VinSpee commented on #79
Sounds good! On that note, what do you think is the "right" way to implement here?

[2016-02-18 22:47] timkelty commented on #79
I'm going to defer to @simonsmith and @giuseppeg on namespacing utilities.
I could go either way.

If that is part of the argument, I think at the very least we should make it clear in [the docs](https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md#u-utilityname) that the `u` is occupying the namespace column.

[2016-02-19 15:24] davidtheclark commented on #79
@VinSpee Sorry, I'm going to need some time to look at the code and think about it. If you come up with any proposals, feel free to PR. Otherwise I'll try to get to it this weekend.

[2016-02-20 01:25] davidtheclark commented on #79
I think this is the way to add the feature:

- Extend the library so that the `componentName` pattern can be a function, like `componentSelectors`: `A single function that accepts a component name and returns a regular expression, e.g. js componentSelectors: function(componentName) { return new RegExp('\\.ns-' + componentName + '(?:-[a-zA-Z]+)?'); }`. The pattern to follow here is component select

[2016-03-08 12:55] bookwyrm opened #82 "Support for linting BEM selectors without component definition?"
**Background:**
I have an existing project using [scss-lint](https://github.com/brigade/scss-lint) which I'm migrating to [stylelint](http://stylelint.io) for faster performance. One of the things I want to lint is selector format in which I'm following the [Harry Roberts convention](https://en.bem.info/tools/bem/bem-naming/#convention-by-harry-roberts) (originally described [here](http://csswizar

[2016-03-08 13:33] davidtheclark commented on #82
That's true. The current way around that would be manual code review. But it's possible that we could add an option to issue a warning if files with certain paths do not start with a component definition. What do you think of that?

The component definition is what makes this linter unique, I think. If you don't want to use component definitions, you should be able to accomplish what you're after

[2016-03-08 16:31] bookwyrm commented on #82
@davidtheclark Thanks for the quick response. I think that your suggestion is a good one - I overlooked `selector-class-pattern` when I found your [stylelint-selector-bem-pattern](https://github.com/davidtheclark/stylelint-selector-bem-pattern).

I added a rule:
[code]

It's petty gnarly but it works.

For now though I'm going to shelve the migration to stylelint as it isn't as feature-rich as scs

[2016-03-08 16:31] #82 closed

[2016-03-08 17:24] davidtheclark commented on #82
Bold statement, and probably false, gotta say --- but I understand that it may not have some particular features that you want, especially SCSS-specific ones.

Feel free to log issues for rule requests at stylelint. Just to address the ones you brought up:

- ColorVariable is SCSS-specific, so yeah probably needs to be an external plugin (you may want to look into [stylelint-scss](https://github.c

[2016-03-08 17:29] bookwyrm commented on #82
Apologies for the statement. You are absolutely right. It doesn't have the specific features that I want but in general stylelint looks very feature-rich and capable.

I'll check out stylelint-scss

[2016-03-08 20:31] rfarine opened #83 "Ignore Selectors Not Working with Postcss/Gulp/Gulp-sass"
Hello! I am having some trouble setting up `postcss-bem-linter` with Gulp, PostCss, and Gulp-Sass.

Here is my Gulp task:

[code]

Here's an example of a file that is causing failures:

[code]

I am getting the following errors related to the `vendor/vex` and `vendor/vex-theme-plugin` stylesheets (which have not been `@define`'d, so I do not see why these would be linted at all!)

[code]

If my un

[2016-03-08 20:51] simonsmith commented on #83
Maybe check the output of your Sass as that's what is going into postcss. It might be better to lint your components before they go through Sass.

[2016-03-08 21:36] davidtheclark commented on #83
Yeah, I'd suspect that your Sass compilation is concatenating all the files together, then as far as *this* plugin is concerned one `@define` comment might end up running over all kinds of files.

To lint components before they go through Sass, use postcss-scss.

[2016-03-08 21:37] rfarine commented on #83
@davidtheclark and @simonsmith Thank you! I'll try that out

[2016-03-08 21:39] davidtheclark commented on #83
OK. Since it's not a bug with the module but just the configuration of your build process, I'll close the issue.

[2016-03-08 21:39] #83 closed

[2016-03-16 09:40] dryoma opened #84 "Defined component name, that breaches componentName, doesn't throw"
Hi!

The README says:

Yet this code
[code]
passes fine with `{ preset: 'suit' }` or the config:
[code]
`my_-__Component` definitely doesn't pass the `componentName` pattern. Am I getting the line from the docs wrong or is it really a mistake?

[2016-03-16 14:23] davidtheclark commented on #84
Isn't that a legit selector?

If your component name is X and you're using SUIT, the following should be fine:
- `X-descendent`
- `X--modifier`
- `X-descendent--modifier`
- etc.

Your `.my_-__Component-block` is equivalent to `X-descendent`, right?

[2016-03-16 14:24] davidtheclark commented on #84
Looks to me like it should be complaining. Maybe a bug, will have to look into it.

[2016-03-19 23:32] #84 closed

[2016-03-19 23:33] davidtheclark commented on #84
@dryoma: The problem was that the regexp pattern lacked `^` and `$` to indicate the beginning and end of the string, meaning that it was satisfied if it just found one letter. Proper pattern is: `/^[A-Z][a-zA-Z0-9]+$/`.

[2016-03-19 23:38] davidtheclark commented on #79
Sorry I think the above may have been incoherent. I guess we need a custom property validating function. I'll look into it now.

[2016-03-28 07:02] dryoma commented on #84
Indeed, it solves the issue. But the version with fixed preset isn't available in npm yet, could this be because the version in package.json is still 2.4.0?

[2016-03-28 13:44] davidtheclark commented on #84
Whoops, I must have forgotten to publish. Thanks for pointing that out.

[2016-03-29 03:26] davidtheclark commented on #84
Published in 2.4.1

[2016-03-30 07:18] dryoma commented on #84
Thanks!

[2016-04-14 06:26] dryoma commented on #77
Sorry, but I would like to bring this up again. We too have a pipeline that includes sass compiling, and are going to adobt a BEM-like naming convention. Though the nesting example above could be unnecessary, the ones like these:
[code]
seem to be unavoidable. Yet, postcss-bem-linter (as of version 2.4.1) throws on both, even with weak mode enabled.

There sure are workarounds requiring some custo

[2016-04-14 13:17] davidtheclark commented on #77
The thing is, that preset is for SUITCSS and we want to make it fit that methodology strictly. So @simonsmith, @giuseppeg, @timkelty, do you want to allow for nesting in SUITCSS?

If they don't, then a new pattern is needed for what you're doing, @dryoma. If you or @KingScooty or anybody else wants to PR a new preset that others can benefit from, that would be fantastic.

[2016-04-14 13:32] simonsmith commented on #77
I have to admit, I do use `postcss-nested` for things like state classes and `hover`, `focus` etc.

[2016-04-14 13:44] davidtheclark commented on #77
Ok, I can reopen this. Open to a PR.

[2016-04-14 16:07] giuseppeg commented on #77
Maybe we can allow only the following:
[code]

[2016-04-14 16:17] dryoma commented on #77
Thanks everyone for considering this feature!

As for `&-element {}` - the con is that if `&` is a part of a classname, the resulting class can't be found with a search (it just doesn't esixt in the code).

[2016-04-14 16:33] simonsmith commented on #77
@davidtheclark Happy to have a look at this. Been wanting to dive into the source of this project for a while

[2016-04-27 13:53] #77 closed

[2016-05-31 21:46] robcolburn opened #88 "Feature: automate file-name definititions"
This really perhaps really a feature-request for [`stylelint-selector-bem-pattern`](https://github.com/davidtheclark/stylelint-selector-bem-pattern), but I'll leave it here since that module mostly wraps this one.

I know explicit definitions are great, and they work for many people, but… I'm lazy.  I would like to enforce our rules BEM rules.

Let's say for an example project we standardize on SU

[2016-06-02 01:30] davidtheclark commented on #88
What if user wants to almost always `implyFilenameDefine` but exempt some files?

[2016-06-02 04:00] robcolburn commented on #88
@davidtheclark,
As I'm re-reading the spec, I realized that I completely misunderstood the way `utilities` works ☺️ . I though utilities was a general opt-out, but it looks like `utilities` must conform the a pre-defined regex - makes sense! We'll definitely want an opt-out mechanism for things like variables, mixins, fonts, and normalizers… Perhaps we can support opt-in or opt-out glob? Or, maybe

[2016-06-02 12:48] davidtheclark commented on #88
Good idea. I like the simple option names and the glob idea.

I'd suggest arrays of globs instead of globs with commas in them: `["css/**/*.css", "vendor/**/*.css"]` instead of `"css/**/*.css,vendor/**/*.css"`.

Open to a PR implementing this!

[2016-06-02 13:33] simonsmith commented on #88
I like this. I think opt-in is a nice route as it's the least disruptive for existing users.

So with components we'd use the filename as the definition, and with utilities if the glob matched then we'd assume it wanted to be linted?

[2016-06-04 17:11] robcolburn commented on #88
@simonsmith,
I'll amend my request because utilities have their own special behavior - their selector need to match a predefined regex.

[2016-06-13 11:37] davidpmccormick opened #89 "'Hyphenated BEM' regex not behaving as expected"
I'm trying to emulate the 'hyphenated BEM' selector format from [scss-lint](https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#selectorformat), but the regex I've got doesn't work in the context of the plugin (I'm fairly sure the regex itself is sound – it behaves as expected if I run it through [e.g. regexper](https://regexper.com/#%5C.%7BcomponentName%7D(((__%7C--)((

[2016-06-13 11:46] davidpmccormick commented on #89
Ignore me – not only did I intent to post this on the [Atom plugin](https://github.com/davidtheclark/stylelint-selector-bem-pattern) issues, it appears my problems are solved by adding a `$` to the end of my regex.

[2016-06-13 11:46] #89 closed

[2016-07-11 23:42] karmasalad commented on #89
@davidpmccormick Can you share your configuration setup for hyphenated BEM selector format? I'm having trouble getting it to work the same as it does in scss-lint.

[2016-07-12 16:08] davidpmccormick commented on #89
@karmasalad I've written up what I'm currently going with, here: http://www.sumnoise.com/2016/05/26/stylelint-hyphenated-bem-config/

[2016-08-30 16:45] timkraut opened #92 "Linting without /** @define ... */"
Hi,

I was wondering if there is any way to lint components without annotating them with `/** @define ... */`? I use a separate file for every component and would like to make sure that all names stick to the correct pattern (BEM in my case).

Thanks!

[2016-08-30 17:43] simonsmith commented on #92
It's a good idea and has been raised in #88. We should probably continue that discussion and work out how it will function.

[2016-08-31 07:23] timkraut commented on #92
@simonsmith Thanks for pointing to this issue. I haven't found it. I'll close this one.

[2016-08-31 07:23] #92 closed

[2016-08-31 07:26] timkraut commented on #88
This would be an awesome feature!

[2016-08-31 09:12] simonsmith commented on #88
I'd be happy to start looking at this.

Components make sense but I'm still unsure on utilities:

Can you expand on that @robcolburn?

I suppose we could:

* Still require the `/** @define utilities */` for utility files
* Check each globbed file first to see if it is a utility (based on the regex) and if so treat it as such. If not then assume it is component and use the file name to check the se

[2016-08-31 09:32] timkraut commented on #88
@simonsmith Sounds good but I'm not sure if using the file name to check the selectors covers all cases. Let's say, I want to enforce a dash-separated naming-pattern (`my-component` instead of `myComponent`). If I got this right, using the file name to check the selector doesn't cover subcomponents/modifiers.

Example (file name: `_notification-box.scss`):
[code]

The corrected example would be:
[

[2016-08-31 10:11] simonsmith commented on #88
I think the goal here is just to use the filename for `componentName` as that is the part that is always required manually - https://github.com/postcss/postcss-bem-linter#componentname

The part after is `componentSelectors` and that would need to remain a regex. I presume on most projects people use the default SUIT or BEM presets for the part after `componentName`

[2016-09-05 23:20] simonsmith commented on #88
Thoughts on `weak` mode?

I was thinking a single `/** weak */` could be added to the top of the file.

[2016-10-21 22:40] coreybruyere commented on #89
Ok, ignore my last comment. It wasn't bem-linter giving me that error. I'm extending another config with a rule assigned to "selector-class-pattern". I used this to override that rule:
`"selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$"`

[2016-11-23 08:50] seamusleahy commented on #88
I created a pull request for adding the first half of the functionality defined here. [Add implicitComponents and implicitUtilities option #93](https://github.com/postcss/postcss-bem-linter/pull/93).

[2016-11-23 09:58] simonsmith commented on #88
@seamusleahy Nice one!

[2016-11-23 19:09] robcolburn commented on #88
👍 Changed teams, and haven't touched CSS in a while. Awesome to see
someone take this on. Nice job!

[2016-12-01 08:52] AndyOGo opened #94 "Set weak mode generally through config object"
At the moment each component definition has to be explicitly set to `weak` mode by `/** @define ComponentName; weak */`.

It would be a really nice and comfortable feature to change the default mode through config object.

[2016-12-05 11:18] AndyOGo opened #95 "{componentName} interpolated just one time"
I just started to write my config according to the [docs](https://github.com/postcss/postcss-bem-linter#componentselectors) regarding of interpolation of `{componentName}`.

But it just works for single interpolations, if I try to interpolate it multiple times, it throws:
`Error: "^\.{componentName}(?:__{componentName})*(?:--{componentName})?|\.(?:is|has)-{componentName}$" does not produce a valid

[2016-12-05 12:24] AndyOGo opened #97 "does not work with SASS mixins and ampersand selector"
The following code incorrectly lints: `Invalid component selector "&:hover"`

[code]

**Note**
With declarative style of `Less` this is not a problem.

[2016-12-05 19:30] ismamz opened #98 "Utility selectors for SUIT preset"
Hi,
A utility name should be `u-[sm-|md-|lg-]<utilityName>` according to [SUIT naming convention](https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md#utilities).
However the [SUIT preset pattern](https://github.com/postcss/postcss-bem-linter/blob/master/lib/preset-patterns.js#L5) don't consider errors the following:

[code]

The next pattern fix this:

[code]

[code]

Don't you t

[2016-12-07 09:41] tforssander commented on #39
Might be off topic but I'm having issues adding namespace to my components (for instance: ns-Excerpt) when using the SUIT CSS preprocessor.

Should this option be added in the SUIT CSS configuration (rules object) or someplace else?

[2016-12-07 10:09] simonsmith commented on #39
@tforssander You can pass options to `postcss-bem-linter` via the SUIT preprocessor. Let me know if have issues.

[2016-12-07 10:21] tforssander commented on #39
@simonsmith Ah, make sense! Solved it by doing it like this:

[code]

Thanks for the quick reply once again!

[2016-12-07 10:25] simonsmith commented on #39
Excellent 👍

[2016-12-08 13:52] simonsmith commented on #98
Hi @ismamz

I'd agree that the linter should be failing the selectors you listed above. It would be excellent if you could open a PR with some relevant tests. Let me know if I can help.

[2016-12-08 16:08] brianmcallister opened #100 "Nested rules failing."
Little late to the party, but this doesn't appear to be working for me in v2.6.0. I am using `stylelint-selector-bem-pattern`, but I've installed 2.6.0 of this package specifically. If you think this is more of a problem with the stylelint plugin, I'd be happy to post this over there.

Here's my Sass file:

`_test.scss`
[code]

and here's my config:

[code]

and my output:

[code]

Am I just doing

[2016-12-08 17:05] simonsmith commented on #100
Great, thanks. Might be related to #97

[2016-12-09 13:58] #98 closed

[2016-12-14 18:47] coreybruyere opened #101 "Ensure each file's first line defines a component"
Probably not bem-linter related? Maybe this is a postcss plugin, but is there any way I can make sure every Sass file in a specified directory has a defined component at the top of the file?

[2016-12-14 19:50] simonsmith commented on #101
You might be interested in [this idea](https://github.com/postcss/postcss-bem-linter/issues/88) which we have an open PR for.

[2016-12-14 20:10] #101 closed

[2016-12-21 07:08] AndyOGo opened #102 "clarify {componentName} interpolation value"
From the docs it's not clear which value gets interpolated by `{componentName}`, could be either of:

- the [RegEx pattern of `componentName` options](https://github.com/AndyOGo/postcss-bem-linter#componentname)
- or the the [defined component ](https://github.com/AndyOGo/postcss-bem-linter#defining-a-component) `/** @define MyComponent */`

**Note** It's the last (define component), whcih makes s

[2016-12-21 07:12] AndyOGo opened #103 "support pattern interpolation"
It would be really comfortable to be able to interpolate not only `{componentName}`, but also patterns like `{componentPattern}`.

Maybe a `patterns` options would make sense to allow for any custom pattern interpolations.

I mainly need this for readability and consistency.

**Example use case:** hyphenated BEM

[2016-12-28 20:38] handonam commented on #76
Sorry to dig this back up, but I tried this and kept getting `
Cannot read property 'length' of undefined` when using mixin as a function.

[code]

using
[code]

any thoughts?

[2016-12-30 18:43] handonam opened #104 "Does not work with LESS, shows "'length' of undefined""
Hi guys

I currently have this error:
[code]
This is my CSS file:
[code]

This is my configuration in postcss.config.js
[code]

Which includes this in .stylelintrc.js
[code]

Wondering if you guys have any ideas around what may be happening here?

[2016-12-30 19:00] handonam commented on #104
Ah, it looks like if you don't have the opening brace after the period, it will throw this error.  This only happens in LESS files.  Sass is fine, as it will throw "Unknown word" (CssSyntaxError).

[2017-02-07 14:09] rgrjoh opened #105 "list-sequences doesn’t handle all attribute selectors"
I have selectors that look like this:

`.component-name > [data-size~="s:2"] {}`

and this:

`.component-name > [data-size="s:2"] {}`

I would expect the second parts of those selectors to be matched by this:

`^(?:\\[.+\\])$`

However, since the list-sequences function

1. splits the string on `:`
2. splits the result of (1) on `/[\s>+~]/`

what gets matched against my regex is either

`[data-siz

[2017-02-07 14:20] davidtheclark commented on #105
@rgrjoh Good point! If you'd like to contribute a fix, I suggest using https://github.com/postcss/postcss-selector-parser.

[2017-02-07 14:51] rgrjoh commented on #105
I don’t have time to read up on postcss-selector-parser right now, but I tested a quick hack (which can still go wrong, but should at least handle more situations than the current implementation):

[code]

Both splits will incorrectly match the content of attribute selectors, eg. `[data-whatever="foo:before"]` or `[data-whatever="a>b"]`.

But the best solution would be to do what you suggest and u

[2017-02-15 12:03] fauna5 commented on #75
Hi, Am also seeing this problem.

Config:
[code]

Selector
[code]

File
[code]

Using via webpack

postcss-config.js
[code]

webpack config
[code]

package.json
[code]

output:
[code]

[2017-02-22 06:35] seamusleahy commented on #103
I'm not sure what value these additional patterns would add to the rest of postcss-bem-linter. If the issue is solely about readability, you can use the native JavaScript string interpolation via [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals).

[code]

[2017-02-22 07:30] AndyOGo commented on #103
@seamusleahy
You are right it's solely about readability.

Agree, but this works only for `ES6`, if one specifies config as `JSON` this won't work.
Though this is what I ended up doing...

[2017-02-27 09:57] #88 closed

[2017-03-06 17:30] hendrikeng opened #107 "Invalid Component Selector"
[code]

why is this throwing the "invalid component selector" error? is there a main reason?

i know that something like .c-block h2 would throw that error since its too location dependent but i have no clue how i would change the selector pattern to transform the logo into another one..thanks a lot guys

[2017-03-06 17:38] simonsmith commented on #107
It's expecting the second selector to begin with `js-logo` as well. Have you tried `weak` mode? - https://github.com/postcss/postcss-bem-linter#conformance-tests

[2017-03-06 17:43] hendrikeng commented on #107
@simonsmith ahh thanks a lot simon, i guess i should go for weak mode then, would be a bit of an overkill to add another class, since i only use js classes for js added stuff....thanks a lot :-)

[2017-03-06 17:45] hendrikeng commented on #107
works perfekt and its great if i just declare it for the one specific case with
[code]

[2017-03-06 17:45] #107 closed

[2017-03-25 14:03] dcalhoun opened #108 "Support implicit component name from parent directory"
Happy to see #106 added. Thank you! 🎉

In my source, the majority of stylesheets are named `index.css` and sit within a directory representing a component.

[code]

Is it currently possible to infer the component name from the parent directory when the stylesheet file is `index.css`? If not, do you think that is possible to add that ability? Are you open to that addition?

[2017-03-27 14:03] ivangretsky opened #109 "Implicit component names from sass/scss files starting with underscore"
Good day!

It is common to have scss partial names starting with underscore (like `_component.scss`). Unfortunately in that case it is impossible to use `implicitComponents` option, as the name of the component is determined from the filename (without extension) and is equal `_component` in this case.

I guess to fix it we should modify code around [this line](https://github.com/postcss/postcss-be

[2017-03-29 15:46] redaxmedia opened #110 "Are you open for another CSS preset?"
Hello,

before I put time into creating a preset for another [CSS naming convention](https://github.com/redaxmedia/ncss), I'd like to ask if this project is open for a pull request!?

Best regards
Henry

[2017-03-31 11:57] jitendravyas opened #111 "Is there a grunt plugin for this?"

[2017-03-31 11:58] simonsmith commented on #111
You can use it with `grunt-postcss` - https://github.com/nDmitry/grunt-postcss

[2017-03-31 11:58] #111 closed

[2017-03-31 12:00] simonsmith commented on #110
I think the intention is to keep it BEM focused. Does NCSS approach it a similar way?

cc @davidtheclark

[2017-03-31 12:02] jitendravyas commented on #111
ok. I have this in my Gruntfile

BEM linter is not working though

[code]

[2017-03-31 14:41] simonsmith commented on #111
Have you [followed the instructions](https://github.com/postcss/postcss-bem-linter#defining-a-component-and-utilities) for defining a component?

[2017-03-31 15:16] davidtheclark commented on #110
Yeah, I wouldn't be quick to add another tested, supported preset for a new system without as much traction yet — but @redaxmedia if you can come up with the regexps that work maybe we should put them in the README?

[2017-03-31 20:21] redaxmedia commented on #110
No problem, I'll write up my own node module then. Don't worry...

[2017-03-31 20:21] #110 closed

[2017-04-04 09:13] jitendravyas commented on #111
These instructions are confusing to me, I'm not able to understand them. Is there any dummy project demo to understand it?

[2017-04-04 09:15] simonsmith commented on #111
@jitendravyas Which part are you having difficulty with?

[2017-04-04 10:31] jitendravyas commented on #111
I don't know where and in which kind of file `.css` or `Gruntfile.js` I need to create these components https://github.com/postcss/postcss-bem-linter#defining-a-component-and-utilities

I want to use it on a legacy project which use Grunt and Sass and Autoprefixer (via postcss). I am also using stylelint and found this linter can be used with that too.

We are already using Harry robert's BEM conv

[2017-04-04 19:21] simonsmith commented on #111
The simplest way to get started is to add the define comment at the top of your CSS/Scss file that tells `postcss-bem-linter` what name to test with:

`/* @define MyComponent */`

Once you've added that ensure your grunt task is running on the correct file path and it should work as expected/

[2017-04-05 08:15] jitendravyas commented on #111
In gruntfile

[code]

.stylelintrc

[code]

/Users/jitendravyas/app-v3/styles/components/_campaign-settings-integrations.scss

[code]

Not getting any error when I run stylelint. Stylelint is working with other rules.

[2017-04-07 07:37] jitendravyas commented on #82
@bookwyrm Is it for Harry potter's BEM style?

`"selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$",`

[2017-04-07 07:44] jitendravyas opened #112 "[Feature request] Please add Harry robert's style BEM as a Preset."
Please add Harry robert's style BEM as a Preset.

https://github.com/postcss/postcss-bem-linter/blob/master/lib/preset-patterns.js

[code]

[2017-04-07 14:37] jitendravyas opened #113 "Should this be an error "Invalid component selector '&:active'"?"

[2017-04-14 11:54] gunnx commented on #112
I set my own componentSelectors
[code]

[2017-06-05 12:33] #104 closed

[2017-06-23 10:13] simonsmith commented on #109
Fixed in #115

[2017-06-23 10:13] #109 closed

[2017-06-29 11:37] layflags opened #116 "Typo in README?"
The README section [Multiple definitions](https://bitbucket.shore.com/projects/FE/repos/app-shell/pull-requests/127/commits/7f311b84f3270146b0b49db2e713d60ed910ddba) gives the following examples:

[code]
...
[code]

But shouldn't the comments start with `/**`? Single asterisk doesn't work for me, but this does:

[code]
...
[code]

[2017-06-30 17:03] gael-boyenval opened #117 "feature / improvement request to manage more"
Hi, this was initially posted as an issue in stylelint repo.

## Feature : a customizable BEMIT selector syntax checker
the BEM linter is great but it doesn't allow to customize enough to enforce BEMIT @csswizardry (Harry Roberts) proposal.

[a great article about BEMIT here](https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/) or for the lazy ones : [ BEMIT Chea

[2017-07-02 14:31] #108 closed

[2017-07-02 14:38] #116 closed

[2017-07-02 14:38] simonsmith commented on #116
Good catch. Double checked the tests and you are correct. README updated

[2017-07-02 14:40] simonsmith commented on #103
Seems like using template literals is the way to go here. Closing

[2017-07-02 14:40] #103 closed

[2017-07-02 14:47] simonsmith commented on #95
Superseded by #102

[2017-07-02 14:47] #95 closed

[2017-07-06 16:35] simonsmith commented on #113
Please provide more information if possible. Currently nested selectors like the below should be correctly understood:

[code]

[2017-07-07 15:35] bencripps opened #118 "linter skips selector with only @extends"
With the following CSS, the `hasNoDeclarations` function in get-selectors is returning true, which means we are not linting the selector name. (We're running our code through a couple plugins, mentioned below, but it looks like those are behaving correctly).

[code]
I would expect this to provide a warning, but since the hasNoDeclarations function returns false, we early return before linting the

[2017-07-08 11:20] simonsmith commented on #118
In your example what CSS would you expect the linter to be checking?

[2017-07-08 13:08] bencripps commented on #118
I'd prefer that the linter not skip over this selector so we can verify we the class name matches our naming conventions (defined by `stylelint-selector-bem-pattern`).

In this case `.namespace-Component` does not match the comment at the top, so I would expect to see an error in the lint output.

[2017-07-08 13:11] simonsmith commented on #118
Makes sense. Sounds like what you suggested is the sensible route and we don't assume these selectors are empty.

[2017-07-09 08:24] simonsmith commented on #118
Fixed in #119

[2017-07-09 08:24] #118 closed

[2017-07-09 08:41] simonsmith commented on #117
Hi @gael-boyenval,

I like the idea that you have here but I wonder if the amount of effort needed to implement it would outweigh the benefits. Apart from BEMIT are there that many other implementations of BEM being used that people would want to implement as a configuration such as this?

It might be simpler to look into adding BEMIT as a proper preset alongside SUIT and the traditional BEM. If m

[2017-07-09 11:08] gael-boyenval commented on #117
Hi @simonsmith, yes I completely understand.

Personally, I want to give it a more complete approach by the ability to forbid `.type-a .type-b` patterns (is bem linter already implementing that ?), and analyse more deeply the composition of the selector, not only the class syntax.

The other part of creating prefixed class is that it create a sort of "typed css" approach. This could allow to apply

[2017-07-13 08:33] simonsmith opened #120 "Use some ES6 features"
Now that PostCSS `6.x` has set Node 4 as the minimum I was thinking it would be a nice time to run this plugin though `lebab` and drop ES5.

@davidtheclark Any objections?

[2017-07-20 08:09] #120 closed

[2017-09-04 16:29] MatTheCat opened #122 "Allow chaining BEM modifiers"
While BEM [does not recommend](https://en.bem.info/methodology/faq/#can-i-use-combined-selectors) chaining selectors, [it totally makes sense to chain modifiers](https://stackoverflow.com/a/33872510/465233). Could it be allowed, even behind an option?

[2017-09-11 08:17] AndyOGo opened #123 "Please print expected selector in error message"
Currently it only tells me that `.foo` is invalid.

Though it would be awesome to instantly see the expected selector, like:

[2017-09-29 08:16] jitendravyas opened #124 "Is there an online playground to try this to validate some BEM code?"

[2017-10-11 17:39] simonsmith commented on #124
Not that I'm aware of.

[2017-10-11 17:39] #124 closed

[2017-10-24 10:12] amk221 commented on #94
I too would like this option, so I can configure weakness at a higher level via https://github.com/simonsmith/stylelint-selector-bem-pattern

[2017-12-05 14:43] tipsy commented on #97
🎂 🎂 🎂 🎂
This issue is 1 year old today. Any progress?

[2018-01-18 19:07] jamesplease opened #127 "Cannot get the plugin to log an error"
I have a handful of CSS files that I would expect to error. One has the following class:

[code]

I'm using the following code, slightly modified from this project's README:

[code]

It's successfully grabbing all of the files (which I confirmed by adding `.then(results => console.log(results);`, but it never logs any warnings.

Am I missing something obvious here? 🙂

Thanks for reading!

---

Ver

[2018-01-18 19:14] simonsmith commented on #127
Does your css file have the `@define` comment at the top?

[2018-01-22 13:35] ChristianStornowski commented on #112
Original preset-patterns.js looks like

`function bemSelector(block, presetOptions) {
  const ns = (presetOptions && presetOptions.namespace) ? `${presetOptions.namespace}-` : '';
  const WORD = '[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*';
  const element = `(?:__${WORD})?`;
  const modifier = `(?:_${WORD}){0,2}`;
  const attribute = '(?:\\[.+\\])?';
  return new RegExp(`^\\.${ns}${block}${element}${modifier

[2018-01-29 14:46] luyun210 opened #128 "Node#moveTo was deprecated. Use Container#append"
Node#moveTo was deprecated. Use Container#append

[2018-03-05 19:28] OriR opened #129 "Add support for different types of components"
If I understand the docs correctly then `componentName` may refer to either (I'm using BEM terminology here) `block`, `element` or `modifier`.
What I have is kind of a different style than the classic BEM where we write `MultiNamedBlock__contained-element--with-modifier`.

This means that I can't really differentiate between blocks, elements or modifiers.
Event if I supply something like this `(?:

[2018-04-09 15:40] saulhardman opened #130 "Issue with prepending selectors (separated by whitespace)"
Hi @simonsmith, first of all, thanks a lot for maintaining this project 🙇

We're using SCSS syntax on the project in question and I'm attempting to extend the `componentSelectors` RegExp to allow for 'global state' classes to be prepended. E.g. `.no-js .c-responsive-image` etc.

The regular expression that I've conjured up appears to do the job when run separately, but it's outputting warnings whe

[2018-04-09 15:46] simonsmith commented on #130
Thanks for the detailed report!

Are you saying the plugin appears to be ignoring your regex?

[2018-04-09 15:50] saulhardman commented on #130
Thanks for the quick response!

It's not that the plugin is ignoring it, more that it _appears_ to be giving me a false negative.

[2018-04-09 15:51] simonsmith commented on #130
I'll try your example later and report back

[2018-04-09 15:52] saulhardman commented on #130
Thanks @simonsmith 👍

[2018-04-09 20:26] simonsmith commented on #130
@saulhardman Do I need to join the Glitch project to access the console?

[2018-04-09 20:30] saulhardman commented on #130
@simonsmith unsure – it's the first time I've taken it for a spin. I've accepted your request to join.

[2018-04-10 20:35] simonsmith commented on #130
I've had a look at the source code with your example (I haven't looked for a while!):

The exported function in [validate-selectors.js](https://github.com/postcss/postcss-bem-linter/blob/master/lib/validate-selectors.js#L19) is where your `componentSelectors` function ends up as `selectorPattern`. That is used to generate the `initialPattern` regex which looks like:

[code]
[Line 41](https://githu

[2018-04-11 13:13] saulhardman commented on #130
Hey @simonsmith, thanks very much for looking into this :+1:

It just shows my ignorance with respect to the meaning behind and function of the 'initial' and 'combined' selectors. The terms are pretty confusing, so perhaps walkthrough example would be helpful?

I've separated the 2 regexes now and appear to have gotten to a satisfactory point.

For posterity, the following hastily constructed and

[2018-04-11 13:24] simonsmith opened #131 "Clarify usage of initial vs combined"
Some clearer code examples of what `initial` and `combined` are used for in the README would be very useful.

Relevant #130

[2018-04-11 13:56] saulhardman commented on #130
Yes, most definitely, thanks again for the help Simon 🙇 👏 👍

[2018-04-11 13:56] #130 closed

[2018-04-15 08:52] ruedap opened #132 "Does not work with Sass interpolation"
This plugin does not seem to support [Sass interpolation](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_).

## input.scss:

[code]

### postcss-bem-linter result:

[code]

## output.css

[code]

### postcss-bem-linter result:

No errors

[2018-04-15 14:54] ruedap commented on #132
Might be related to #97, #100 🤔

[2018-04-16 10:03] saulhardman commented on #132
I've come across this issue as well.

For now I'm simply ignoring (the few and far between) instances of selectors that contain Sass string interpolation. Not ideal, nor sustainable, but it's tiding things over until a solution is reached (hopefully in this issue).

Rather than ignoring on a selector-by-selector basis, I put the `ignoreSelectors` option to use like so:-

[code]

The intended logic

[2018-04-16 12:02] simonsmith commented on #132
A good question and I think it would be outside of the scope of this plugin to compile the Sass and understand how to apply the linting rules to the source file.

The solution I'd be tempted to go with would be to apply the `postcss-bem-linter` after the Sass transformation has happened. You will get less accurate line numbers in the error console but that is the tradeoff

[2018-04-16 14:07] saulhardman commented on #131
Hi @simonsmith, to get this issue rolling (and to help me with another conundrum) could you describe/explain what the `initial` and `combined` component selectors are in the context of the following example?

[code]

[2018-04-16 21:08] simonsmith commented on #131
That selector is first broken up into [sequences based on combinators](https://www.w3.org/TR/2018/CR-selectors-3-20180130/#selector-syntax). The CSS combinators matched against are `" ", >, +, ~`. The sequences for your selector are:

[code]

To recap the docs:

In your above example the `initial` is run on the `.no-js`. If you have not provided a `combined` then the initial is used for the `combi

[2018-04-16 21:28] simonsmith commented on #123
We could print the `componentName` which might be `bar` in this example but it's also possible that a regex might be used for something like namespaces and other complex combinations. For example from #130:

[code]

In this example the `componentName` is just `responsive-image` but it seems to be that alone would not be  very helpful for debugging. Printing the regex would also add to the confusio

[2018-04-16 21:28] #123 closed

[2018-04-16 21:29] simonsmith commented on #127
@jamesplease Did you find a resolution to this or would you need me to take another look?

[2018-04-16 21:36] jamesplease commented on #127
I was never able to get this working, but I haven’t had a chance to try again. I’ll close this out for now. If I have the time to look into it again, and still face problems, I’ll reopen this.

thanks for the follow up!

[2018-04-16 21:36] #127 closed

[2018-04-16 21:38] simonsmith commented on #127
Okay cool, sorry for the delay! 😄

[2018-04-16 21:38] #113 closed

[2018-04-17 06:35] AndyOGo commented on #123
hmh, why is this closed?

[2018-06-04 15:18] tristanbes opened #133 "How to configure it inside a postcss.config.js"
Hello,

We're trying to cfg postcss-bem-linter inside a `postcss.config.js` but the documentation doesn't mention how to.

We've tried:

[code]

Without success (expceted identifyer).

[2018-06-04 15:26] simonsmith commented on #133
That code snippet looks invalid to me. Would you not follow the `autoprefixer` example above?

[code]

Documentation here - https://github.com/michael-ciniawsky/postcss-load-config

[2018-06-04 15:30] tristanbes commented on #133
thanks for the hint.

I've put

[code]

At this point, I can't confirm it's working, but at least it doesn't give me a parsing error :S

[2018-07-17 10:33] AlecRust opened #134 "Components not linted if no immediate rule"
If a selector doesn't have an immediate rule the block doesn't get linted e.g.

[code]

`.anything` doesn't get linted, but it does if this is the CSS:

[code]

[2018-07-17 10:48] simonsmith commented on #134
Related to #119 - Need to adjust that solution to support `@media`

[2018-09-26 14:26] robertjk opened #135 "Implicit component file name customisation"
Can you provide a way to customise the way a component name is implied from the file name?

I'm having an Angular project in which I'd like to use your plugin. In Angular [it's recommended](https://angular.io/guide/styleguide#style-05-04) to name the stylesheet for `SomeThing` component `some-thing.component.scss`.

This plugin then throws an error `Invalid component name from implicit conversion

[2018-10-11 02:45] diegosantamarta commented on #117
Hi Gael, did you finally worked on this? How are you doing it right now?

[2018-10-11 14:46] gael-boyenval commented on #117
@diegosantamarta I've started something, but it's a wile ago and I have been carried away by other projects. Would you be interested to work on it with me ? I currently have a project that could use this !

[2018-10-17 08:17] ausminternet commented on #112
i made a fix here: https://github.com/postcss/postcss-bem-linter/pull/136

[2018-12-28 08:28] foresightyj opened #138 "valid component selectors detected as invalid, and reported line numbers are also incorrect."
I experienced this problem while using stylelint-selector-bem-pattern. But this problem is completely reproducible in postcss-bem-linter so I raised the issue here.

In my project, I am migrating an existing scss code base into BEM. Because there are many css rules involving primitive html tags directly like `my-component h1 {}`, I am trying to relax the rules  a little bit so that tags with stron

[2018-12-29 05:17] foresightyj commented on #138
To fix my problem, all I have to do is to replace `getComponentRootRule` in `get-selectors.js` from:
[code]
[code]
The original `getComponentRootRule` returns the top level node that has type `root` which in my case I only want to reach to the top level node that has type `rule`.

[2019-01-07 20:02] simonsmith commented on #138
Closed by #139

[2019-01-07 20:02] #138 closed

[2019-03-25 18:54] simonsmith commented on #134
Fixed in #140

[2019-03-25 18:54] #134 closed

[2019-03-25 19:27] simonsmith commented on #135
Just looking at this now. The Regex option could be a good route to go. In this example though, what should happen if I had a regex and extracted `some-thing` from `some-thing.component.scss` and tried to match it against `SomeThing`. This would still fail currently.

[2019-03-28 14:54] maxhartshorn opened #142 "Ability to have a themed component"
There is a use case for having multiple versions of a component, built off the same component: [see here](http://getbem.com/faq/#can-a-block-modifier-affect-elements-)

A real world example would be a site search form with a full-width variant.

[code]

It would be great to be able to define a component like: `site-search--full`, however if we define a component as such, the following selector wou

[2019-03-28 15:52] simonsmith commented on #142
If add the following to `bem-valid.css` (a fixture file in the tests) it passes:

[code]

Do you have a reproducible example of this failing?

[2019-03-28 15:54] simonsmith commented on #133
Closing as no further discussion

[2019-03-28 15:54] #133 closed

[2019-03-28 16:06] simonsmith commented on #112
Closing as fixed

[2019-03-28 16:06] #112 closed

[2019-03-28 18:03] maxhartshorn commented on #142
To be more specific. This error occurs when using `implicitComponents`

1. I create a scss partial named `_block-name--mod`
2. The file contains a rule along the lines of `.block-name--mod .block-name__elem {}`

This will produce the error. Noticing now that it can be fixed by adding a `/** @define block-name */`. But it would be convenient if this step wasn't necessary, as it could through newer

[2019-03-29 07:50] simonsmith commented on #142
Is this a standard BEM practice? I would always expect the component filename to be `_block-name.scss` and then any modifiers would live within it. I would also predict this would work correctly with `implicitComponents` as well.

[2019-04-05 19:09] maxhartshorn commented on #142
It may not be standard practice but I have seen it used in projects. It helps if you have a large number of mods for a component.

[2019-04-08 12:36] simonsmith commented on #142
I don't think there is a change to make here. This is quite an edge case use of `implicitComponents` from my experience and can be worked round by using `@define` as you mentioned.

[2019-04-11 14:58] #142 closed

[2019-06-03 08:39] amk221 opened #143 "Nested multiple definitions"
I was expecting this to work (maybe unreasonably?)

[code]

[2019-06-12 09:52] amk221 commented on #143
Hi 👋
Can I get some feedback on whether this is worth me investing time on a PR? I don't want to start if it's not likely to get in.
Cheers

[2019-06-12 10:15] simonsmith commented on #143
Hey @amk221

I've not encountered this use case but I'd agree it would be nice for the linter to permit it. A PR would be very welcome and I'd be happy to consider it for merge

[2019-08-28 14:59] fabd opened #144 "Concise & verbose comment syntax for "weak" not fully working?"
In the following simple test case, the "weak" option doesn't seem to work with the verbose comment:

**No eslint warning**:

[code]

**1 eslint warning**: "Invalid component selector ".VuePage h3"

[code]

Have I misconfigured something?

Also I understand it's not good practice, but it seems fairly essential to be able to add simple elements such as h3, p etc. For example to add default styles to

[2019-09-17 15:26] amk221 commented on #135
+1

In Ember-land, we are encouraged to put stylesheets in pods.

[code]

So in the above example, I would like to auto-define `foo` as the namespace.

[2019-09-27 21:05] zhdanov opened #145 "How check bem?"
`require('postcss-bem-linter')('bem')`

no warnings for:
`.tile__img__sdf_fwef_few_few__wef {`

want:
`block-name__element-name_mod-name`
(without multiple elements and modifiers)

[2020-01-09 13:44] Didel commented on #144
**+1**

I noticed the exact same thing. Using`; weak` with verbose syntax does not seem to work, using it with concise syntax works fine. I am using version 3.3.0 of postcss-bem-linter.

❌ **Throws Invalid component selector ".tab-content .tab-pane" :**
[code]

✅ **Passes fine: **
[code]

I also agree with @fabd above, having a shorthand option for ignore (e.g. `@ignore` ) would be a nice addition

[2020-04-28 16:58] artursopelnik commented on #94
+1

[2020-06-15 08:23] OddieWallie opened #154 "Namespaces are confused as selectors"
In our `scss` we group some of our attributes in their namespace.

[code]
When linting, I get a `Invalid component selector ".block__element--modifier font:"` error.

Since namespaces could be anything (`font:`, `background:`, `text:`, etc); I tried adding an `ignoreSelectors` rule to target these. I couldn't find an expression which worked.

Is there something which already resolves this issue (n

[2020-10-16 14:19] guilhermetod commented on #132
If anyone comes after this, I'm using the following for now:

[code]

It's been working so far. If anyone try this in another project and find any error, warn me please.

[2020-11-12 11:01] almogk012 commented on #132
@guilhermetod if i use json format, how can i do it?
or you can show your js file?

[2021-06-22 11:21] dkrnl opened #163 "Question: how to ignore not-pseudo class"
Hi!

I try this, but not worked:
[code]

this code strip all pseudo classes:
https://github.com/postcss/postcss-bem-linter/blob/master/lib/list-sequences.js#L17-L18

thx!